<a href="https://colab.research.google.com/github/Sjleerodls/lab_python/blob/main/python12_lambda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1급 객체(first-class object)로서의 함수

**함수(function)는 객체(object)다**

* 객체(object) : 숫자, 문자열, 논리값, list, tuple, dict, ...        
# 객체란 변수에 저장 할 수 있는것.
# a = 1, a = '일', a = True, a = [1, 2, 3], a = (4, 5, 6), a = {'1' : '일', '2' : '이', ...}
* 객체는 변수에 할당(저장)할 수 있음.
* 객체는 함수 아규먼트로 전달 할 수 있음.
* 객체는 함수가 리턴할 수 있음.
* 객체는 함수 내부에서 선언하고 사용할 수 있음.

In [4]:
x = 1   # 정수 1을 변수 x에 할당
print(x)    # 정수 객체 x를 print 함수의 아규먼트로 전달.

1

In [5]:
result = len('안녕~')   # 함수 len() 리턴값을 변수 result에 할당.
print(result)

3

In [6]:
def double(x):
    return x * 2

In [14]:
print(double(11))   # double() 함수를 호출하고, 그 리턴값을 출력.

22

In [18]:
print(double)   # 함수 객체 출력

<function double at 0x780c6ea1efc0>

## 함수를 변수에 할당

In [21]:
twice = double  # 함수 객체를 변수 twice에 할당.
print(twice)

<function double at 0x780c6ea1efc0>

In [23]:
twice(12)

24

## 아규먼트로 함수를 전달

In [30]:
def calculator(x, y, fn):
    result = fn(x, y)
    return result

In [31]:
def plus(x , y):
    return x + y

In [32]:
calculator(1, 2, plus)

3

In [33]:
def minus(x, y):
    return x - y

In [34]:
calculator(1, 2, minus)

-1

In [35]:
def is_greater(x, y):
    return x > y

In [36]:
calculator(1, 2, is_greater)

False

## 내부 함수, 함수를 리턴하는 함수

내부 함수(inner function), 지역 함수(local function):

* 함수 내부에서 선언하는 함수.
* 선언된 함수 안에서만 호출할 수 있음.(일반적으로는)
* 선언된 함수 바깥에서는 호출할 수 없음.
* 외부 함수의 지역 변수들(파라미터 포함)을 사용할 수 있음.

In [40]:
def make_incrementor(n):
    # 내부 함수 선언
    def add_n(x):
        return x + n

    # 함수 객체를 리턴.
    return add_n

In [43]:
add_n(10)   #> 내부 함수 이름을 단독으로 사용할 수는 없음.

NameError: name 'add_n' is not defined

In [47]:
plus_2 = make_incrementor(2)
print(plus_2)
plus_2(10)

<function make_incrementor.<locals>.add_n at 0x780c565634c0>

12

In [48]:
plus_10 = make_incrementor(10)
plus_10(10)

20

In [50]:
make_incrementor(3)(123)    # fn(123)과 동일함.

126

# 람다 표현식(Lambda Expression)

* 이름이 없는 함수.
* 함수 이름 선언 없이, 파라미터 선언과 반환 값 또는 반환 식으로 함수를 선언하는 것.
* 람다 표현식 변수에 할당할 수 있음. **함수의 아규먼트로 람다 표현식을 사용**할 수 있음.

```
lambda param1, param2, ...: expression(식)
```

In [57]:
# 함수 선언
# def plus_one(x):
#     return x + 1

# 람다 표현식
plus_one = lambda x : x + 1
print(plus_one)
plus_one(11)

<function <lambda> at 0x780c56561c60>

12