<a href="https://colab.research.google.com/github/Sjleerodls/lab_python/blob/main/python13_oop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 객체지향 프로그래밍 배경

In [73]:
students = [
    {'id' : 1, 'name' : '홍길동', 'korean' : 100, 'english' : 80, 'math' : 95},
    {'id' : 2, 'name' : '오쌤', 'kor' : 50, 'eng' : 45, 'math' : 61},   # 다른 데이터와 병합 과정에서 다른 key 값이 들어옴.
    {'id' : 3, 'name' : 'Scott', 'korean' : 70, 'english' : 99, 'math' : 78}
]

In [69]:
print(students[1].keys())
students[2].keys()

dict_keys(['id', 'name', 'kor', 'eng', 'math'])

dict_keys(['id', 'name', 'korean', 'english', 'math'])

In [7]:
len(students)
students[0]

{'id': 1, 'name': '홍길동', 'korean': 100, 'english': 80, 'math': 95}

In [66]:
# 번호, 이름, 총점, 평균을 출력
def students_info(id):
    result = []
    id -= 1
    if students[id]['korean'] in students[id].keys():
        total = students[id]['korean'] + students[id]['english'] + students[id]['math']
    elif students[id]['kor'] in students[id].keys():
        total = students[id]['kor'] + students[id]['english'] + students[id]['math']



    # total = students[id]['korean'] + students[id]['english'] + students[id]['math']
    mean = total / len(students)

    result.append(students[id]['id'])
    result.append(students[id]['name'])
    result.append(total)
    result.append(mean)

    return result

In [71]:
print(students_info(1))
print(students_info(2))
print(students_info(3))

[1, '홍길동', 275, 91.66666666666667]
[2, '오쌤', 156, 52.0]
[3, 'Scott', 247, 82.33333333333333]

In [74]:
# 번호, 이름, 총점, 평균을 출력
# 오쌤
for s in students:
    total = s['korean'] + s['english'] + s['math']
    mean = total/3
    print()
    print(f"번호 : {s['id']}, 이름 : {s['name']}, 총점 : {total}, 평균 : {mean}")

번호 : 1, 이름 : 홍길동, 총점 : 275, 평균 : 91.66666666666667

KeyError: 'korean'

위 코드의 문제점은 dict의 키는 중복되지만 않게 만들면 되기 때문에, 반복문에서 총점과 평균을 계산하는 코드가 제대로 동작하지 않을 수도 있음.

## 함수형 프로그래밍(Functional Programming)

In [76]:
def create_students(id, name, korean, english, math):
    student = {'id' : id,
               'name' : name,
               'korean' : korean,
               'english' : english,
               'math' : math}

    return student

In [78]:
students = [
    create_students(1, '홍길동', 100, 95, 98),
    create_students(2, '오쌤', 50, 45, 62),
    create_students(3, 'Scott', 97, 85, 51),
    create_students(4, 'Tiger', 15, 39, 74)
]
students

[{'id': 1, 'name': '홍길동', 'korean': 100, 'english': 95, 'math': 98},
 {'id': 2, 'name': '오쌤', 'korean': 50, 'english': 45, 'math': 62},
 {'id': 3, 'name': 'Scott', 'korean': 97, 'english': 85, 'math': 51},
 {'id': 4, 'name': 'Tiger', 'korean': 15, 'english': 39, 'math': 74}]

In [79]:
def get_total(student):
    return student['korean'] + student['english'] + student['math']

In [95]:
def get_mean(student):
    return get_total(student) / 3

In [97]:
for s in students:
    total = get_total(s)
    mean = get_mean(s)

    print(f"번호 : {s['id']}, 이름 : {s['name']}, 총점 : {total}, 평균 : {mean}")

번호 : 1, 이름 : 홍길동, 총점 : 293, 평균 : 97.66666666666667
번호 : 2, 이름 : 오쌤, 총점 : 157, 평균 : 52.333333333333336
번호 : 3, 이름 : Scott, 총점 : 233, 평균 : 77.66666666666667
번호 : 4, 이름 : Tiger, 총점 : 128, 평균 : 42.666666666666664

get_total 함수와 get_mean 함수는 학생 객체(dict)의 데이터와 매우 밀접한 관계를 가지고 있음.

데이터(국어, 영어, 수학 점수)와 기능(총점 계산, 평균 계산)이 매우 밀접하게 연결되어 있음.

데이터와 기능을 하나의 자료 타입으로 묶을 수 없을까?

## 객체 지향 프로그래밍(OOP: Object-Oriented Programming)

In [105]:
class Student:
    # 생성자
    def __init__(self, id, name, korean, english, math):
        self.id = id
        self.name = name
        self.korean = korean
        self.english = english
        self.math = math

    # 메서드(method)
    def get_total(self):
        return self.korean + self.english + self.math

    def get_mean(self):
        return self.get_total() / 3

In [107]:
student1 = Student(1, '홍길동', 100, 98, 96)
print(student1)
print(student1.id)
print(student1.name)
print(student1.korean)
print(student1.get_total())
print(student1.get_mean())

<__main__.Student object at 0x7c12409a6710>
1
홍길동
100
294
98.0

In [109]:
students = [
    Student(1, '홍길동', 100, 98, 96),
    Student(2, '오쌤', 55, 65, 77),
    Student(3, 'Scott', 88, 99, 86)
]
students

[<__main__.Student at 0x7c123fd642d0>,
 <__main__.Student at 0x7c123fd65290>,
 <__main__.Student at 0x7c123fd66550>]

In [111]:
for s in students:
    print(f'번호 : {s.id}, 이름 : {s.name}, 총점 : {s.get_total()}, 평균 : {s.get_mean()}')

번호 : 1, 이름 : 홍길동, 총점 : 294, 평균 : 98.0
번호 : 2, 이름 : 오쌤, 총점 : 197, 평균 : 65.66666666666667
번호 : 3, 이름 : Scott, 총점 : 273, 평균 : 91.0