<a href="https://colab.research.google.com/github/Sjleerodls/lab_python/blob/main/python10_exception.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 오류(Error)의 종류

In [7]:
# prin('안녕하세요')
#> 1번 라인을 실행하면 NameError 발생 -> 문법 오류 -> 문법에 맞는 문장으로 코드를 수정
print('안녕하세요')

안녕하세요

In [12]:
number = int(input('값을 입력하세요 >>> '))
print(number)

값을 입력하세요 >>> 12
12

위의 코드셀은 사용자가 어떤 문자열을 입력했는지에 따라서 코드 실행이 정상적으로 종료될 수도 있고, 비정상적으로 에러가 발생할 수도 있음.

코드 실행 중에 유가 발생하는 경우 해결 방법:
* 오류가 발생한 위치와 원인을 찾아서 오류가 발생하지 않도록 코드를 수정.
* 오류가 발생하더라도 정상적인 종료가 될 수 있도록 처리 -> 예외 처리.

# try-except 구문

```
try:
    (1) 실행할 코드 블록
except [에러이름 [as 별칭]]:
    (2) 예외가 발생했을 때 예외를 처리하는 코드 블록
[else:
    (3) try 블록의 모든 코드가 예외 없이 정상 수행됐을 때 실행할 코드 블록]
[finally:
    (4) 예외 발생 여부에 상관 없이 항상 실행할 코드 블록]
```

* try-except 구문의 실행 순서
    * 예외가 발생하는 경우: (1) -> (2) -> (4)
    * 예외가 발생하지 않는 경우: (1) -> (3) -> (4)
* except 절에서 에러 이름을 생략하면 모든 종류의 에러를 처리할 수 있음.
* except 절에서 에러 이름을 지정하면, 선언된 에러만 처리할 수 있음.
* 처리해야 할 에러의 종류가 여러 개인 경우 except 절을 여러 개 사용할 수도 있음.

In [35]:
try:
    first = int(input('첫 번째 정수를 입력하세요 >>> '))
    second = int(input('두 번째 정수를 입력하세요 >>> '))
    print(f'{first} + {second} = {first+second}')
    print(f'{first} - {second} = {first-second}')
    print(f'{first} * {second} = {first*second}')
    print(f'{first} / {second} = {first/second}')
except ValueError:
    print('frist와 second는 정수로 입력해야 합니다.')
except ZeroDivisionError:
    print('0으로 나눌 수 없습니다.')
else:
    print('사칙 연산을 수행 완료했습니다.')
finally:
    print('코드 셀 종료.')

첫 번째 정수를 입력하세요 >>> 100
두 번째 정수를 입력하세요 >>> 0
100 + 0 = 100
100 - 0 = 100
100 * 0 = 0
0으로 나눌 수 없습니다.
코드 셀 종료.