<a href="https://colab.research.google.com/github/Sjleerodls/lab_python/blob/main/python04_while.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# while 반복문(loop)

```
[초기화 문장]
while 조건식:
    조건식을 만족하는 동안에 반복할 코드 블록
    [조건을 변경할 수 있는 문장]
```

* 조건식을 만족하는 동안에 블록 내부를 실행.
* 조건식을 만족하지 못하면 (조건식이 False가 되면) 반복을 멈춤.
* `while 조건식` 다음에는 반드시 콜론(:)을 사용해야 함.
* 블록 안에서 들여쓰기는 일정한 크기로 작성.

In [ ]:
# 1 ~ 5까지 순서대로 출력

n = 1
while n <= 5:   # 변수 n의 값이 5보다 작거나 같으면 반복
    print(n)
    n += 1

1
2
3
4
5

In [ ]:
# 5 ~ 1까지 내림차순으로 출력

n = 5
while n >= 1:   # 변수 n의 값이 1보다 크거나 같을때까지 반복
    print(n)
    n -= 1

5
4
3
2
1

In [ ]:
# 2 4 6 8 10 출력

n = 2
while n < 11:
    print(n)
    n += 2

2
4
6
8
10

In [ ]:
n = 2
while n <= 10:  # n이 10 이하이면 반복
    if n % 2 == 0:  # n이 짝수면
        print(n)
    n += 1

2
4
6
8
10

In [ ]:
# 9 7 5 3 1 출력

n = 9
while n > 0:
    print(n)
    n -= 2

9
7
5
3
1

In [ ]:
n = 9
while n > 0:
    if n % 2:   # if n % 2 == 1:
        print(n)
    n -= 1

9
7
5
3
1

# `break`와 `continue`

* `break` : 반복(iteration)을 종료. break가 포함된 가장 가까운 반복문을 빠져나감.
* `continue` : 다음 반복(iteration)을 수행. continue 아래의 문장들은 건너뛰고 그 다음 반복 과정을 수행함.

In [1]:
n = 1

while n <= 5:
    if n == 3:
        break
    print(n)
    n += 1

1
2

In [2]:
n = 0

while n < 5:
    n += 1
    if n == 3:
        continue
    print(n)

1
2
4
5

# 연습문제

## Ex 1. 구구단 2단을 출력

In [5]:
x = 2
n = 1

while x <= 18:
    print(f'2 * {n} = ', x)
    n += 1
    x += 2

2 * 1 =  2
2 * 2 =  4
2 * 3 =  6
2 * 4 =  8
2 * 5 =  10
2 * 6 =  12
2 * 7 =  14
2 * 8 =  16
2 * 9 =  18

In [3]:
x = 1

while x < 10:
    print(f'2 x {x} = {2 * x}')
    x += 1

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

## Ex 2. 구구단 2단부터 9단까지 출력

In [ ]:
x = 2

while x < 10:
    print(f'=== {x}단 ===')
    y = 1
    while y < 10:
        print(f'{x} x {y} = {x*y}')
        y += 1
    print('----------------')
    x += 1

=== 2단 ===
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
----------------
=== 3단 ===
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
----------------
=== 4단 ===
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
----------------
=== 5단 ===
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
----------------
=== 6단 ===
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
----------------
=== 7단 ===
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
----------------
=== 8단 ===
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
----------------
=== 9단 ===
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
----------------

In [5]:
x = 2
# y = 1

while x < 10:
    print(f'=== {x}단 ===')
    y = 1
    while y < 10:
        print(f'{x} x {y} = {x * y}')
        y += 1

    x += 1

=== 2단 ===
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
=== 3단 ===
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
=== 4단 ===
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
=== 5단 ===
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
=== 6단 ===
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
=== 7단 ===
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
=== 8단 ===
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
=== 9단 ===
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

## Ex 3. 아래와 같이 출력하는 코드를 작성하세요.

```
*
**
***
****
*****
```

In [ ]:
n = 1

while n <= 5:
    print('*' * n)
    n += 1

*
**
***
****
*****

## Ex 4. 아래와 같이 출력하는 코드를 작성하세요.

```
*****
****
***
**
*
```

In [8]:
n = 5

while n > 0:
    print('*' * n)
    n -= 1

*****
****
***
**
*

### Ex 5. 구구단 2단은 2x2까지, 3단은 3x3까지, ..., 9단은 9x9까지 출력하는 코드를 작성하세요.

In [ ]:
x = 2

while x <= 9:
    y = 1
    print(f'--- {x}단 ---')
    while y <= x:
        print(f'{x} * {y} = {x*y}')
        y += 1
    x += 1

--- 2단 ---
2 * 1 = 2
2 * 2 = 4
--- 3단 ---
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
--- 4단 ---
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
--- 5단 ---
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
--- 6단 ---
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
--- 7단 ---
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
--- 8단 ---
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
--- 9단 ---
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [ ]:
# answer

x = 2
while x < 10:
    print(f' === {x}단 ===')

    y = 1
    while y < 10:
        print(f'{x} x {y} = {x * y}')
        if x == y:
            break
        y += 1

    print('-------------')
    x += 1

 === 2단 ===
2 x 1 = 2
2 x 2 = 4
-------------
 === 3단 ===
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
-------------
 === 4단 ===
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
-------------
 === 5단 ===
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
-------------
 === 6단 ===
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
-------------
 === 7단 ===
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
-------------
 === 8단 ===
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
-------------
 === 9단 ===
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
-------------

In [15]:
x = 2
# y = 1

while x < 10:
    print(f'=== {x}단 ===')
    y = 1
    while y < 10:
        print(f'{x} x {y} = {x * y}')
        if x == y:
            break
        y += 1

    x += 1

=== 2단 ===
2 x 1 = 2
2 x 2 = 4
=== 3단 ===
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
=== 4단 ===
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
=== 5단 ===
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
=== 6단 ===
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
=== 7단 ===
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
=== 8단 ===
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
=== 9단 ===
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81