<a href="https://colab.research.google.com/github/Sjleerodls/lab_python/blob/main/python11_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 함수(Function)

In [4]:
result = len('hello python')
print(result)

12

* **함수(function)** : 기능을 수행하는 코드 블록.
* **인수(argument)** : 함수를 호출할 때 함수에게 전달하는 값.
* **매개변수(parameter)** : 아규먼트를 저장하기 위해서 함수를 정의할 때 선언하는 변수.
* **반환값(return value)** : 함수가 기능을 수행하고 그 결과로 함수를 호출한 곳에 되돌려 주는 값.
    * 함수에 따라서 반환값이 있는 함수도 있고, 반환값이 없는 함수도 있음.

# 함수 선언(정의)

```
def function_name([parameter, ...]):
    ["""문서 주석(documentation comments)"""]
    함수가 수행할 코드 블록
    return 반환값
```

* 반환값이 없는 함수는 return 문장을 생략하거나, return None으로 문장을 사용할 수 있음.
* return 문장의 의미 :
    * 함수 종료
    * 함수를 호출한 곳에 값을 되돌려 줌.

In [13]:
def subtract(x,y):
    """ 숫자 x, y를 전달 받아서 x - y를 리턴하는 함수 """
    return x - y

In [16]:
result = subtract(1, 2)
print(result)

-1

## 값을 반환하지 않는 함수

In [26]:
def repeat_message(msg, n):
    """
    msg를 n번 반복해서 출력.

    @param msg - 출력할 문자열.
    @param m - 반복할 횟수. 0 또는 양의 정수.
    """

    for _ in range(n):
        print(msg)

    # return None

In [27]:
repeat_message('안녕하세요', 5)

안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요

In [28]:
repeat_message('Hello', 3)

Hello
Hello
Hello

## 2개 이상의 값을 반환하는 함수

In [31]:
def plus_and_minus(x, y):
    """
    x + y, x - y 를 리턴.

    @param x - 숫자 타입(int 또는 float)
    @param y - 숫자 타입(int 또는 float)
    @return x + y, x - y
    """

    # return ret_value1, ret_value2, ...
    return x + y, x - y

In [37]:
a, b = plus_and_minus(1, 2)
print(f'a = {a}, b = {b}')

a = 3, b = -1

In [39]:
result = plus_and_minus(3, 4)
print(type(result)) # result : 리턴 값들을 저장하는 튜플
print(result)

<class 'tuple'>
(7, -1)

## 연습문제 1.

* 함수 이름 : make_list
* 기능 : [start, end) 범위의 정수 난수 n개를 아이템으로 갖는 리스트를 리턴
* 파라미터 : start(정수), end(정수), n(0 또는 양의 정수)
* 리턴: 리스트.

In [84]:
import random

def make_list(start, end, n):
    """
    [start, end) 범위의 정수 난수 n개를 아이템으로 갖는 리스트를 리턴.

    @param start : int. 난수 시작 범위.
    @param end : int. 난수 종료 범위.
    @param n : int. 리스트의 아이템 개수. 0 또는 양의 정수.
    @return 난수들의 리스트.
    """

    # vin = []

    # for x in range(n):
    #     vin.append(random.randrange(start, end))

    vin = [random.randrange(start, end) for x in range(n)]
    return vin

In [89]:
my_list = make_list(0, 2, 10)
print(my_list)

[0, 0, 1, 0, 0, 1, 0, 1, 1, 1]

In [90]:
make_list(0, 101, 5)

[34, 5, 7, 36, 4]

## 연습문제 2.

* 함수 이름 : calculate_sum
* 기능 : 숫자(정수, 실수)들을 원소로 갖는 리스트를 전달 받아서, 그 리스트의 모든 원소들의 합계를 리턴.
* 파라미터 : array(리스트)
* 리턴 : 리스트 원소들의 합계.

In [112]:
def calculate_sum(list):
    """
    입력받은 list내 모든 숫자의 합계를 리턴.

    @param list : int, float. 숫자만 입력
    """
    return sum(list)

In [105]:
calculate_sum([1, 2, 3, 4, 5])

15

## 연습문제 3.

* 함수 이름 : calculate_mean
* 기능 : 숫자들을 원소로 갖는 리스트의 원소들의 평균을 리턴.
* 파라미터 : array(리스트)
* 리턴 : 리스트 원소들의 평균.

In [113]:
def calculate_mean(list):
    """
    입력받은 list의 평균을 리턴.

    @param list : int, float. 숫자만 입력
    """
    return sum(list) / len(list)

In [107]:
calculate_mean([1, 2, 3, 4, 5])

3.0

## 연습문제 4.

* 함수 이름 : find_min_and_max
* 기능 : 숫자들을 원소로 갖는 리스트를 아규먼트로 전달 받아서, 리스트의 최솟값과 최댓값을 리턴.
* 파라미터 : 숫자들의 리스트
* 리턴 : 리스트의 최솟값과 최댓값.

In [146]:
def find_min_and_max(list):
    """
    입력받은 list 내 min, max 값을 리턴.

    @param list : int, float. 숫자만 입력.
    """
    result = sorted(list)
    minimum = result[0]
    maximum = result[-1]

    return minimum, maximum

In [148]:
def find_min_and_max(list):
    """
    입력받은 list 내 min, max 값을 리턴.

    @param list : int, float. 숫자만 입력.
    222
    """
    # result = sorted(list)
    min1 = min(list)
    max1 = max(list)

    return min1, max1

In [149]:
find_min_and_max([1, 2, 3])

(1, 3)