<a href="https://colab.research.google.com/github/Sjleerodls/lab_python/blob/main/python02_variable.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Data Type(자료 타입)

* 숫자 타입
    * 정수(int)
    * 실수(float)
* 문자열 타입(str)
* 논리 타입(bool): True/False

## 숫자 타입

In [3]:
# 변수 선언, 값 할당 : 변수_이름 = 값
n = 123
print(type(n))  # type(변수_이름) : 변수의 타입을 리턴하는 함수
print('n = ', n)

<class 'int'>
n =  123

In [6]:
n = 3.14    # 변수에 저장된 값을 변경.
print(type(n))
print(n)

<class 'float'>
3.14

## 문자열 타입

파이썬에서 문자열은 작은따옴표('')와 큰따옴표("")를 모두 사용할 수 있음.

In [9]:
name = '오쌤'   # "오쌤"
print('안녕하세요, {}!'.format(name))
print(f'안녕하세요, {name}!')
print(type(name))

안녕하세요, 오쌤!
안녕하세요, 오쌤!
<class 'str'>

## 논리 타입

In [16]:
b = False    # 파이썬의 키워드, 변수 이름, 함수 이름 등은 대/소문자를 구분함.
print(type(b))
print('b = ', b)

<class 'bool'>
b =  False

In [23]:
b = 5 > 0
print(b)

True

## 명시적 타입 변환

* `int(arg)` : 아규먼트로 전달된 값을 정수로 변환해서 리턴하는 함수.
    * 문자열 -> 정수
    * 실수 -> 정수
* `float(arg)` : 아규먼트를 실수로 변환해서 리턴하는 함수.
    * 문자열 -> 실수
    * 정수 -> 실수
* `str(arg)` : 아규먼트를 문자열로 변환해서 리턴하는 함수.
    * 정수, 실수, ... -> 문자열

In [33]:
x = input('숫자를 입력하세요>>> ')
print('x =', x)
print(type(x))

x = int(x)
print(type(x))

숫자를 입력하세요>>> 123
x = 123
<class 'str'>
<class 'int'>

In [35]:
x = float(input('숫자를 입력하세요>>> '))
print('x = ', x)
print(type(x))

숫자를 입력하세요>>> 3.14
x =  3.14
<class 'float'>

# 연산자(Operator)

## 할당(assignment) 연산자

* `=` : 연산자 오른쪽의 값을 연산자의 왼쪽의 변수에 할당(저장).

## 산술(arithmetic) 연산자

* 종류 : `+, -, *, /, **, //, %`
* 산술 연산자는 일반적으로 숫자 타입(int, float)의 값들에서 사용.
* 일부 산술 연산자는 문자열과 같은 타입에서도 사용 가능.

In [52]:
x, y = 10, 3
print(f'{x} + {y} = {x + y}')
print(f'{x} - {y} = {x - y}')
print(f'{x} x {y} = {x * y}')
print(f'{x} / {y} = {x / y}')
print(f'{x}의 {y} 거듭제곱 = {x ** y}') # x의 y 거듭제곱
print(f'{x}를 {y}로 나눈 몫 = {x // y}') # 몫만
print(f'{x}를 {y}로 나눈 나머지 = {x % y}')   # 나머지만

10 + 3 = 13
10 - 3 = 7
10 x 3 = 30
10 / 3 = 3.3333333333333335
10의 3 거듭제곱 = 1000
10를 3로 나눈 몫 = 3
10를 3로 나눈 나머지 = 1

문자열(str) 타입에서 사용하는 산술 연산자:

* `문자열 + 문자열` : concatenate. 문자열 이어 붙이기.
* `문자열 * 정수` : 문자열을 정수만큼 복사.

In [53]:
print('Hello' + 'Python')
print('Hello' * 3)

HelloPython
HelloHelloHello

## 비교 연산자, 논리 연산자

* 비교 연산자 : `==, !=, >, >=, <, <=`
* 논리 연산자 : `and, or, not`

In [56]:
x, y = 100, 200
print(x == y)   # x is equal to y
print(x != y)   # x is not equal to y
print(x > y)    # x is greater than y
print(x < y)    # x is less than y

False
True
False
True

In [58]:
print((x > 50) and (x < 150))
print((x < 50) or (x > 150))

True
False