<a href="https://colab.research.google.com/github/Sjleerodls/lab_python/blob/main/python18_file_ex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*   github의 [exam.csv 파일](https://github.com/JakeOh/202505_BD50/blob/main/lab_python/exam.csv)을 다운로드.
*   Colab 연결(세션 활성화).
*   Colab에 Google Drive 마운트(mount, 연결).
*   개인 계정의 Google Drive에 exam.csv 파일을 업로드.

*   exam.csv 파일을 open

*   파일의 첫번째 줄은 컬럼 이름들이기 때문에, 첫번째 줄은 읽고 무시.

*   파일의 두번째 줄부터 파일 끝(EOF)까지 반복.
    *   각 줄에서 읽은 내용을 쉼표(,)로 분리한 리스트를 빈 리스트에 append.

    `[['1', '1', '50', '98', '50'], ['2', '1', '60', '97', '60'], ...]`

*   위에서 만들어진 2차원 리스트는 문자열들을 저장하고 있는 리스트이기 때문에, 리스트의 모든 값들을 정수(int)로 변환

    `[[1, 1, 50, 98, 50], [2, 1, 60, 97, 60], ...]`

*   수학 점수들로만 이루어진 1차원 리스트를 만듦.

    `[50, 60, ...]`

*   수학 점수의 최댓값, 최솟값, 평균 출력.

*   1반 학생들의 수학 점수 총점, 평균, 최댓값, 최솟값 출력

In [191]:
vin = []

with open('/content/drive/MyDrive/Colab Notebooks/lab_python/exam.csv')as f:
    for line in f:
        vin.append(line.rsplit())
    vin.pop(0)
    # vin = str(vin)

# vin = vin.replace('[', '')
# vin = vin.replace(']', '')
# vin = vin.replace("'", '')
# vin = vin.replace(',', '')
# vin = vin.replace(' ', '')

print(vin)

[['1,1,50,98,50'], ['2,1,60,97,60'], ['3,1,45,86,78'], ['4,1,30,98,58'], ['5,2,25,80,65'], ['6,2,50,89,98'], ['7,2,80,90,45'], ['8,2,90,78,25'], ['9,3,20,98,15'], ['10,3,50,98,45'], ['11,3,65,65,65'], ['12,3,45,85,32'], ['13,4,46,98,65'], ['14,4,48,87,12'], ['15,4,75,56,78'], ['16,4,58,98,65'], ['17,5,65,68,98'], ['18,5,80,78,90'], ['19,5,89,68,87'], ['20,5,78,83,58']]

In [192]:
vin2 = []
i=0
print(vin[0][0])

# for x in vin[i][0]:

#     y = int(x)
#     vin2.append(y)
#     i += 1

print(vin2)

1,1,50,98,50
[]

In [193]:
# 오쌤
file_path = '/content/drive/MyDrive/Colab Notebooks/lab_python/exam.csv'

In [205]:
with open(file_path) as f:
    f.readline()    # 파일에서 첫번째 라인(줄)을 읽음
    exam = []   # cs 파일을 내용을 저장할 빈 리스트
    for line in f:  # 열린 파일 f에서 두번째 줄 부터 끝까지 반복하면서 한 줄씩 읽는다.
        exam.append(line.strip().split(','))

exam

[['1', '1', '50', '98', '50'],
 ['2', '1', '60', '97', '60'],
 ['3', '1', '45', '86', '78'],
 ['4', '1', '30', '98', '58'],
 ['5', '2', '25', '80', '65'],
 ['6', '2', '50', '89', '98'],
 ['7', '2', '80', '90', '45'],
 ['8', '2', '90', '78', '25'],
 ['9', '3', '20', '98', '15'],
 ['10', '3', '50', '98', '45'],
 ['11', '3', '65', '65', '65'],
 ['12', '3', '45', '85', '32'],
 ['13', '4', '46', '98', '65'],
 ['14', '4', '48', '87', '12'],
 ['15', '4', '75', '56', '78'],
 ['16', '4', '58', '98', '65'],
 ['17', '5', '65', '68', '98'],
 ['18', '5', '80', '78', '90'],
 ['19', '5', '89', '68', '87'],
 ['20', '5', '78', '83', '58']]

In [212]:
for i, row in enumerate(exam):
    for j, x in enumerate(row):
        exam[i][j] = int(x)
exam

[[1, 1, 50, 98, 50],
 [2, 1, 60, 97, 60],
 [3, 1, 45, 86, 78],
 [4, 1, 30, 98, 58],
 [5, 2, 25, 80, 65],
 [6, 2, 50, 89, 98],
 [7, 2, 80, 90, 45],
 [8, 2, 90, 78, 25],
 [9, 3, 20, 98, 15],
 [10, 3, 50, 98, 45],
 [11, 3, 65, 65, 65],
 [12, 3, 45, 85, 32],
 [13, 4, 46, 98, 65],
 [14, 4, 48, 87, 12],
 [15, 4, 75, 56, 78],
 [16, 4, 58, 98, 65],
 [17, 5, 65, 68, 98],
 [18, 5, 80, 78, 90],
 [19, 5, 89, 68, 87],
 [20, 5, 78, 83, 58]]

In [219]:
# math = []

# for row in exam:
#     math.append(row[2])

math = [row[2] for row in exam] # list comprehension

print(math)

[50, 60, 45, 30, 25, 50, 80, 90, 20, 50, 65, 45, 46, 48, 75, 58, 65, 80, 89, 78]

In [220]:
print('수학 최댓값 : ', max(math))
print('수학 최솟값 : ', min(math))
print('수학 평균 : ', sum(math) / len(math))

수학 최댓값 :  90
수학 최솟값 :  20
수학 평균 :  57.45

In [221]:
english = [row[3] for row in exam]

print(english)

[98, 97, 86, 98, 80, 89, 90, 78, 98, 98, 65, 85, 98, 87, 56, 98, 68, 78, 68, 83]

In [222]:
print('영어 최댓값 : ', max(english))
print('영어 최솟값 : ', min(english))
print('영어 평균 : ', sum(english) / len(english))

영어 최댓값 :  98
영어 최솟값 :  56
영어 평균 :  84.9

In [223]:
science = [row[4] for row in exam]

print(science)

[50, 60, 78, 58, 65, 98, 45, 25, 15, 45, 65, 32, 65, 12, 78, 65, 98, 90, 87, 58]

In [227]:
print('과학 최댓값 : ', max(science))
print('과학 최솟값 : ', min(science))
print('과학 평균 : ', sum(science) / len(science))

과학 최댓값 :  98
과학 최솟값 :  12
과학 평균 :  59.45

In [234]:
# math_class1 = []    # 1반(class=1) 수학 점수를 저장하기 위한 리스트

# for row in exam:
#     if row[1] == 1: # class 컬럼의 값이 1이면
#         math_class1.append(row[2])  # math 컬럼의 값을 리스트에 추가.

math_class1 = [row[2] for row in exam if row[1] == 1]
print(math_class1)

[50, 60, 45, 30]

In [237]:
print('1반 수학 총점 : ', sum(math_class1))
print('1반 수학 평균 : ', sum(math_class1) / len(math_class1))
print('1반 수학 최댓값 : ', max(math_class1))
print('1반 수학 최솟값 : ', min(math_class1))

1반 수학 총점 :  185
1반 수학 평균 :  46.25
1반 수학 최댓값 :  60
1반 수학 최솟값 :  30

1반 ~ 5반 수학 평균 점수를 출력하세요.

In [247]:
# 각 반 별로 수학 평균 점수 구하기.
math_class1 = [row[2] for row in exam if row[1] == 1]
math_class2 = [row[2] for row in exam if row[1] == 2]
math_class3 = [row[2] for row in exam if row[1] == 3]
math_class4 = [row[2] for row in exam if row[1] == 4]
math_class5 = [row[2] for row in exam if row[1] == 5]

print(sum(math_class1) / len(math_class1))
print(sum(math_class2) / len(math_class2))
print(sum(math_class3) / len(math_class3))
print(sum(math_class4) / len(math_class4))
print(sum(math_class5) / len(math_class5))

46.25
61.25
45.0
56.75
78.0

In [249]:
# 전체 수학 점수 평균 출력.
math_mean_all = [row[2] for row in exam]

print(math_mean_all)
print(sum(math_mean_all) / len(math_mean_all))

[50, 60, 45, 30, 25, 50, 80, 90, 20, 50, 65, 45, 46, 48, 75, 58, 65, 80, 89, 78]
57.45

In [254]:
# 오쌤
for cls in range(1, 6):
    math_by_class = [row[2] for row in exam if row[1] == cls]
    mean = sum(math_by_class) / len(math_by_class)
    print(f'{cls}반 수학 평균: {mean}점')

1반 수학 평균: 46.25점
2반 수학 평균: 61.25점
3반 수학 평균: 45.0점
4반 수학 평균: 56.75점
5반 수학 평균: 78.0점

## class 선언

In [295]:
class Student:
    def __init__(self, id, cls, math, english, science):
        self.id = int(id)
        self.cls = int(cls)
        self.math = int(math)
        self.english = int(english)
        self.science = int(science)

    def __repr__(self):
        return f'Student(id={self.id }, class={self.cls}, math={self.math}, english={self.english}, science={self.science})'

    def mean(self):
        return (self.math + self.english + self.science) / 3

In [262]:
s = Student(1, 1, '50', '60', '70')
print(s)

Student(id=1, class=1, math=50, english=60, science=70)

In [276]:
exam2 = []  # csv 파일에서 읽은 데이터를 저장하기 위한 리스트
with open(file_path) as f:
    f.readline()
    for line in f:
        row = line.strip().split(',')
        student = Student(row[0], row[1], row[2], row[3], row[4])
        exam2.append(student)

exam2

[Student(id=1, class=1, math=50, english=98, science=50),
 Student(id=2, class=1, math=60, english=97, science=60),
 Student(id=3, class=1, math=45, english=86, science=78),
 Student(id=4, class=1, math=30, english=98, science=58),
 Student(id=5, class=2, math=25, english=80, science=65),
 Student(id=6, class=2, math=50, english=89, science=98),
 Student(id=7, class=2, math=80, english=90, science=45),
 Student(id=8, class=2, math=90, english=78, science=25),
 Student(id=9, class=3, math=20, english=98, science=15),
 Student(id=10, class=3, math=50, english=98, science=45),
 Student(id=11, class=3, math=65, english=65, science=65),
 Student(id=12, class=3, math=45, english=85, science=32),
 Student(id=13, class=4, math=46, english=98, science=65),
 Student(id=14, class=4, math=48, english=87, science=12),
 Student(id=15, class=4, math=75, english=56, science=78),
 Student(id=16, class=4, math=58, english=98, science=65),
 Student(id=17, class=5, math=65, english=68, science=98),
 Student(id=18, class=5, math=80, english=78, science=90),
 Student(id=19, class=5, math=89, english=68, science=87),
 Student(id=20, class=5, math=78, english=83, science=58)]

In [287]:
exam2[0].english        # Student라는 객체를 갖고 있는 리스트

98

In [294]:
math2 = [s.math for s in exam2] # exam2에서 수학점수들만 선택해서 저장
print(math2)

[50, 60, 45, 30, 25, 50, 80, 90, 20, 50, 65, 45, 46, 48, 75, 58, 65, 80, 89, 78]

In [296]:
english2 = [s.english for s in exam2]
print(english2)

[98, 97, 86, 98, 80, 89, 90, 78, 98, 98, 65, 85, 98, 87, 56, 98, 68, 78, 68, 83]

In [297]:
science2 = [s.science for s in exam2]
print(science2)

[50, 60, 78, 58, 65, 98, 45, 25, 15, 45, 65, 32, 65, 12, 78, 65, 98, 90, 87, 58]

각 반의 수학 점수 평균 출력.

In [300]:
for i in range(1,6):
    res = [s.math for s in exam2 if s.cls == i]
    mean = sum(res) / len(res)
    print(f'{i}반 수학 평균 점수 : {mean}점')

1반 수학 평균 점수 : 46.25점
2반 수학 평균 점수 : 61.25점
3반 수학 평균 점수 : 45.0점
4반 수학 평균 점수 : 56.75점
5반 수학 평균 점수 : 78.0점

In [310]:
# 오쌤
for cls in range(1, 6):
    math_by_class = []
    for s in exam2:
        if s.cls == cls:
            math_by_class.append(s.math)

    # math_by_class = [s.math for s in exam2 if s.cls == cls]

    mean = sum(math_by_class) / len(math_by_class)
    print(f'{cls}반 수학 평균 : {mean}')

1반 수학 평균 : 46.25
2반 수학 평균 : 61.25
3반 수학 평균 : 45.0
4반 수학 평균 : 56.75
5반 수학 평균 : 78.0

각 반의 영어 점수 평균 출력.

In [301]:
for i in range(1,6):
    res = [s.english for s in exam2 if s.cls == i]
    mean = sum(res) / len(res)
    print(f'{i}반 영어 평균 점수 : {mean}점')

1반 영어 평균 점수 : 94.75점
2반 영어 평균 점수 : 84.25점
3반 영어 평균 점수 : 86.5점
4반 영어 평균 점수 : 84.75점
5반 영어 평균 점수 : 74.25점

In [306]:
# 오쌤
for cls in range(1, 6):
    english_by_class = [s.english for s in exam2 if s.cls == cls]
    mean = sum(english_by_class) / len(english_by_class)
    print(f'{cls}반 영어 평균 : {mean}')

1반 영어 평균 : 94.75
2반 영어 평균 : 84.25
3반 영어 평균 : 86.5
4반 영어 평균 : 84.75
5반 영어 평균 : 74.25

In [317]:
exam2[0]

Student(id=1, class=1, math=50, english=98, science=50)

In [390]:
def subject_mean_by_class(cls, subject):
    """
    반(cls) 별 과목(subject)의 평균 점수를 리턴.
    (예) subject_mean_by_class(1, 'math') -> 1반 학생들의 1반 수학 점수 평균을 리턴.

    @param cls: 반 번호. 1 ~ 5.
    @param subject: 과목 이름. 'math', 'english', 'science'.
    @return 해당 cls의 해당 subject의 평균.
    """
    vin = []

    for i in exam2:
        if i.cls == cls and subject == 'math':
            vin.append(i.math)
        elif i.cls == cls and subject == 'english':
            vin.append(i.english)
        elif i.cls == cls and subject == 'science':
            vin.append(i.science)

    mean = sum(vin) / len(vin)

    # return f'{cls}반 학생들의 {subject} 점수 평균 : {mean}점'
    return mean

In [386]:
subject_mean_by_class(2, 'science')

'2반 학생들의 science 점수 평균 : 58.25점'

In [391]:
# 전체 학생들의 반 별 과목별 평균 점수 확인
for x in range(1, 6):
    for y in ('math', 'english', 'science'):
        res = subject_mean_by_class(x, y)
        print(f'{x}반 학생들의 {y} 점수 평균 : {res}')

1반 학생들의 math 점수 평균 : 46.25
1반 학생들의 english 점수 평균 : 94.75
1반 학생들의 science 점수 평균 : 61.5
2반 학생들의 math 점수 평균 : 61.25
2반 학생들의 english 점수 평균 : 84.25
2반 학생들의 science 점수 평균 : 58.25
3반 학생들의 math 점수 평균 : 45.0
3반 학생들의 english 점수 평균 : 86.5
3반 학생들의 science 점수 평균 : 39.25
4반 학생들의 math 점수 평균 : 56.75
4반 학생들의 english 점수 평균 : 84.75
4반 학생들의 science 점수 평균 : 55.0
5반 학생들의 math 점수 평균 : 78.0
5반 학생들의 english 점수 평균 : 74.25
5반 학생들의 science 점수 평균 : 83.25