<a href="https://colab.research.google.com/github/Sjleerodls/lab_python/blob/main/python10_exception.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 오류(Error)의 종류

In [7]:
# prin('안녕하세요')
#> 1번 라인을 실행하면 NameError 발생 -> 문법 오류 -> 문법에 맞는 문장으로 코드를 수정
print('안녕하세요')

안녕하세요

In [12]:
number = int(input('값을 입력하세요 >>> '))
print(number)

값을 입력하세요 >>> 12
12

위의 코드셀은 사용자가 어떤 문자열을 입력했는지에 따라서 코드 실행이 정상적으로 종료될 수도 있고, 비정상적으로 에러가 발생할 수도 있음.

코드 실행 중에 유가 발생하는 경우 해결 방법:
* 오류가 발생한 위치와 원인을 찾아서 오류가 발생하지 않도록 코드를 수정.
* 오류가 발생하더라도 정상적인 종료가 될 수 있도록 처리 -> 예외 처리.

# try-except 구문

```
try:
    (1) 실행할 코드 블록
except [에러이름 [as 별칭]]:
    (2) 예외가 발생했을 때 예외를 처리하는 코드 블록
[else:
    (3) try 블록의 모든 코드가 예외 없이 정상 수행됐을 때 실행할 코드 블록]
[finally:
    (4) 예외 발생 여부에 상관 없이 항상 실행할 코드 블록]
```

* try-except 구문의 실행 순서
    * 예외가 발생하는 경우: (1) -> (2) -> (4)
    * 예외가 발생하지 않는 경우: (1) -> (3) -> (4)
* except 절에서 에러 이름을 생략하면 모든 종류의 에러를 처리할 수 있음.
* except 절에서 에러 이름을 지정하면, 선언된 에러만 처리할 수 있음.
* 처리해야 할 에러의 종류가 여러 개인 경우 except 절을 여러 개 사용할 수도 있음.

In [37]:
try:
    first = int(input('첫 번째 정수를 입력하세요 >>> '))
    second = int(input('두 번째 정수를 입력하세요 >>> '))
    print(f'{first} + {second} = {first+second}')
    print(f'{first} - {second} = {first-second}')
    print(f'{first} * {second} = {first*second}')
    print(f'{first} / {second} = {first/second}')
except ValueError:
    print('frist와 second는 정수로 입력해야 합니다.')
except ZeroDivisionError:
    print('0으로 나눌 수 없습니다.')
else:
    print('사칙 연산을 수행 완료했습니다.')
finally:
    print('코드 셀 종료.')

첫 번째 정수를 입력하세요 >>> 100
두 번째 정수를 입력하세요 >>> 0
100 + 0 = 100
100 - 0 = 100
100 * 0 = 0
0으로 나눌 수 없습니다.
코드 셀 종료.

In [42]:
try:
    first = int(input('첫 번째 정수를 입력하세요 >>> '))
    second = int(input('두 번째 정수를 입력하세요 >>> '))
    print(f'{first} + {second} = {first+second}')
    print(f'{first} - {second} = {first-second}')
    print(f'{first} * {second} = {first*second}')
    print(f'{first} / {second} = {first/second}')
except:
    print('오류가 발생하여 코드 실행을 멈춥니다.')

첫 번째 정수를 입력하세요 >>> 123
두 번째 정수를 입력하세요 >>> 0
123 + 0 = 123
123 - 0 = 123
123 * 0 = 0
오류가 발생하여 코드 실행을 멈춥니다.

In [43]:
import random

In [44]:
numbers = [random.randrange(100) for _ in range(10)]
numbers

[57, 65, 69, 3, 97, 80, 48, 89, 52, 64]

In [56]:
index = int(input('인덱스를 입력하세요. >>> '))
print(f'number[{index}] = {numbers[index]}')

인덱스를 입력하세요. >>> index

ValueError: invalid literal for int() with base 10: 'index'

In [64]:
try:
    index = int(input('인덱스를 입력하세요. >>> '))
    print(f'number[{index}] = {numbers[index]}')
except IndexError as e:
    print(e)    # IndexError의 오류 메시지 출력
except ValueError as e:
    print(e)    # ValueError의 오류 메시지가 출력.

인덱스를 입력하세요. >>> 123
list index out of range

사용자에게 숫자(실수)를 입력하라고 프롬프트를 보여주고,
* 사용자가 입력한 문자열이 숫자로 변환될 수 있는 경우라면, 그 숫자를 출력하고 셀을 종료.
* 사용자가 입력한 문자열이 숫자로 변환될 수 없는 경우라면, 숫자 입력 프롬프트를 보여주고 입력 과정을 반복.

In [1]:
try:
    x = float(input('숫자를 입력하세요. >>> '))
    print(x)
except:
    print('숫자를 다시 입력해주세요')
finally:
    print('셀을 종료합니다.')

숫자를 입력하세요. >>> 123
123.0
셀을 종료합니다.

In [9]:
x = float(input('숫자를 입력하세요. >>> '))
print(x)

숫자를 입력하세요. >>> tntwk

ValueError: could not convert string to float: 'tntwk'

In [28]:
while True:
    try:
        x = float(input('숫자를 입력하세요. >>> '))
        print(x)    # 숫자 입력, 출력, 반복문 종료
    except:
        print('숫자를 다시 입력해주세요.')  # 에러 메시지 출력, 다시 반복.
    else:
        print('이상 없습니다.')
        break

숫자를 입력하세요. >>> hello
숫자를 다시 입력해주세요.
숫자를 입력하세요. >>> python
숫자를 다시 입력해주세요.
숫자를 입력하세요. >>> 14.19`2`0
숫자를 다시 입력해주세요.
숫자를 입력하세요. >>> '`2':'0`2
숫자를 다시 입력해주세요.
숫자를 입력하세요. >>> 1.810
1.81
이상 없습니다.

In [31]:
while True:
    try:
        x = float(input('숫자를 입력하세요. >>> '))
        print(x)    # 숫자 입력, 출력, 반복문 종료
    except:
        x = float(input('숫자를 입력하세요. >>> '))  # 에러 메시지 출력, 다시 반복.
    else:
        print('이상 없습니다.')
        break

숫자를 입력하세요. >>> aaa
숫자를 입력하세요. >>> aaa

ValueError: could not convert string to float: 'aaa'