<a href="https://colab.research.google.com/github/Sjleerodls/lab_python/blob/main/python12_lambda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1급 객체(first-class object)로서의 함수

**함수(function)는 객체(object)다**

* 객체(object) : 숫자, 문자열, 논리값, list, tuple, dict, ...        
# 객체란 변수에 저장 할 수 있는것.
# a = 1, a = '일', a = True, a = [1, 2, 3], a = (4, 5, 6), a = {'1' : '일', '2' : '이', ...}
* 객체는 변수에 할당(저장)할 수 있음.
* 객체는 함수 아규먼트로 전달 할 수 있음.
* 객체는 함수가 리턴할 수 있음.
* 객체는 함수 내부에서 선언하고 사용할 수 있음.

In [4]:
x = 1   # 정수 1을 변수 x에 할당
print(x)    # 정수 객체 x를 print 함수의 아규먼트로 전달.

1

In [5]:
result = len('안녕~')   # 함수 len() 리턴값을 변수 result에 할당.
print(result)

3

In [6]:
def double(x):
    return x * 2

In [14]:
print(double(11))   # double() 함수를 호출하고, 그 리턴값을 출력.

22

In [18]:
print(double)   # 함수 객체 출력

<function double at 0x780c6ea1efc0>

## 함수를 변수에 할당

In [21]:
twice = double  # 함수 객체를 변수 twice에 할당.
print(twice)

<function double at 0x780c6ea1efc0>

In [23]:
twice(12)

24

## 아규먼트로 함수를 전달

In [30]:
def calculator(x, y, fn):
    result = fn(x, y)
    return result

In [31]:
def plus(x , y):
    return x + y

In [32]:
calculator(1, 2, plus)

3

In [33]:
def minus(x, y):
    return x - y

In [34]:
calculator(1, 2, minus)

-1

In [35]:
def is_greater(x, y):
    return x > y

In [36]:
calculator(1, 2, is_greater)

False

## 내부 함수, 함수를 리턴하는 함수

내부 함수(inner function), 지역 함수(local function):

* 함수 내부에서 선언하는 함수.
* 선언된 함수 안에서만 호출할 수 있음.(일반적으로는)
* 선언된 함수 바깥에서는 호출할 수 없음.
* 외부 함수의 지역 변수들(파라미터 포함)을 사용할 수 있음.

In [40]:
def make_incrementor(n):
    # 내부 함수 선언
    def add_n(x):
        return x + n

    # 함수 객체를 리턴.
    return add_n

In [43]:
add_n(10)   #> 내부 함수 이름을 단독으로 사용할 수는 없음.

NameError: name 'add_n' is not defined

In [47]:
plus_2 = make_incrementor(2)
print(plus_2)
plus_2(10)

<function make_incrementor.<locals>.add_n at 0x780c565634c0>

12

In [48]:
plus_10 = make_incrementor(10)
plus_10(10)

20

In [50]:
make_incrementor(3)(123)    # fn(123)과 동일함.

126

# 람다 표현식(Lambda Expression)

* 이름이 없는 함수.
* 함수 이름 선언 없이, 파라미터 선언과 반환 값 또는 반환 식으로 함수를 선언하는 것.
* 람다 표현식 변수에 할당할 수 있음. **함수의 아규먼트로 람다 표현식을 사용**할 수 있음.

```
lambda param1, param2, ...: expression(식)
```

In [57]:
# 함수 선언
# def plus_one(x):
#     return x + 1

# 람다 표현식
plus_one = lambda x : x + 1
print(plus_one)
plus_one(11)

<function <lambda> at 0x780c56561c60>

12

In [59]:
calculator(11, 22, lambda x , y : x + y)

33

In [61]:
calculator(1, 2, lambda x, y : x - y)

-1

In [63]:
calculator(2, 3, lambda x, y : x * y)

6

In [64]:
calculator(3, 1, lambda x, y : x > y)

True

## lambda를 아규먼트로 전달하는 예

* filter : 조건을 만족하는 아이템들을 찾기.
    * `filter(function, iterable)` : iterable의 원소들을 하나씩 순서대로 function의 아규먼트로 전달해서, function이 True를 리턴하는 원소들만 선택.
        * function(x) ==> True/False
* map : 아이템을 일정한 규칙에 따라서 다른 값으로 변환(매핑)
    * `map(function, iterable)` : iterable의 원소들을 하나씩 순서대로 function 아규먼트로 전달해서, function이 리턴하는 값들을 저장.
        * function(x) ==> object

In [65]:
import random

In [66]:
numbers = [random.randrange(100) for _ in range(10)]
numbers

[80, 90, 34, 35, 11, 4, 3, 84, 65, 64]

In [68]:
# 리스트 numbers의 원소들 중에서 홀수들만 필터링.
[x for x in numbers if x % 2]

[35, 11, 3, 65]

In [71]:
result = filter(lambda x : x % 2 == 1, numbers)
print(result)
print([result])
list(result)

<filter object at 0x780c3c7d2e30>
[<filter object at 0x780c3c7d2e30>]

[35, 11, 3, 65]

In [72]:
# numbers의 원소들 중에서 짝수들만 필터링
result2 = filter(lambda x : x % 2 == 0, numbers)
print(list(result2))

[80, 90, 34, 4, 84, 64]

In [74]:
# 리스트 numbers의 원소가 짝수인 경우에는 'even', 홀수인 경우에는 'odd'로 매핑
['even' if x % 2 == 0 else 'odd' for x in numbers]

['even', 'even', 'even', 'odd', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [75]:
result = map(lambda x : 'even' if x % 2 == 0 else 'odd', numbers)
list(result)

['even', 'even', 'even', 'odd', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [77]:
# numbers의 원소가 짝수이면 True, 홀수이면 Flase로 매핑
result = map(lambda x : True if x % 2 == 0 else False, numbers)
list(result)

[True, True, True, False, False, True, False, True, False, True]

In [83]:
# numbers의 원소가 0 ~ 19이면 'teen', 20 ~ 59이면 'adult', 60 이상이면 'senior'로 매핑
# result = map(lambda x : 'teen' if x in range(0,20) 'adult' elif x in range(20,60) else 'senior', numbers)
result = map(lambda x : 'teen' if x <= 20 else ('adult' if 20 <= x <= 59 else 'senior'), numbers)
print(list(result))
numbers

['senior', 'senior', 'adult', 'adult', 'teen', 'teen', 'teen', 'senior', 'senior', 'senior']

[80, 90, 34, 35, 11, 4, 3, 84, 65, 64]

## filter 함수 구현

In [84]:
def my_filter(iterable, function):
    """
    iterable의 아이템들 중에서 function의 결과가 True가 되는 아이템들로 이루어진 리스트를 리턴.

    @param iterable - list 또는 tuple
    @param function - 아규먼트가 1개이고 리턴값은 True/False인 함수.
    @return 리스트(list).
    """
    # result = [] # 필터링한(조건을 만족하는) 아이템들을 저장하기 위한 빈 리스트.
    # for x in iterable:  # iterable의 원소들을 순서대로 하나씩 순회하면서
    #     if function(x): # 원소를 function의 아규먼트로 전달했을 때 True를 리턴하면(조건을 만족하면)
    #         result.append(x)    # 리스트에 추가함.
    result = [x for x in iterable if function(x)]

    return result

In [89]:
numbers = [random.randrange(10) for _ in range(10)]
print(numbers)
evens = my_filter(numbers, lambda x: x%2 == 0)
evens

[7, 1, 4, 8, 1, 6, 6, 3, 8, 4]

[4, 8, 6, 6, 8, 4]

In [94]:
numbers = [random.randrange(-10, 11) for _ in range(20)]
print(numbers)
positives = my_filter(numbers, lambda x: x > 0)
print(positives)

[-1, -5, -2, -10, 5, -3, -9, 4, 2, 8, 10, 9, -1, -5, -7, 7, 5, 10, 10, 9]
[5, 4, 2, 8, 10, 9, 7, 5, 10, 10, 9]

In [97]:
languages = ['Python', 'SQL', 'Java', 'JavaScript', 'R']

# languages의 문자열들 중에서 길이가 5 이상인 문자열들을 필터링
result = my_filter(languages, lambda x: len(x) >= 5)
print(result)

['Python', 'JavaScript']

## map 함수 구현

In [123]:
def my_map(iterable, function):
    """
    iterable의 원소를 함수 function의 아규먼트로 전달했을 때 그 리턴 값들을 저장한 리스트를 리턴

    @param iterable - list 또는 tuple.
    @param function - 아규먼트가 1개이고, 리턴값이 있는 함수.
    @return list.
    """
    # result = []
    # for x in iterable:
    #     result.append(function(x))

    result = [function(x) for x in iterable]

    return(result)

In [125]:
numbers = [random.randrange(-20, 20) for _ in range(10)]
print(numbers)
result = my_map(numbers, lambda x : x > 0)
print(result)

[-17, -5, 1, 10, -20, 3, -17, -3, -11, -17]
[False, False, True, True, False, True, False, False, False, False]

In [126]:
numbers = [random.randrange(10) for _ in range(10)]
print(numbers)
result = my_map(numbers, lambda x: '짝수' if x%2==0 else '홀수')
print(result)

[8, 1, 8, 2, 6, 0, 6, 5, 4, 2]
['짝수', '홀수', '짝수', '짝수', '짝수', '짝수', '짝수', '홀수', '짝수', '짝수']