<a href="https://colab.research.google.com/github/Sjleerodls/lab_python/blob/main/python08_exercises_lsj.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import random  # 난수 생성을 위한 모듈(random.random(), random.randrange(), ...)
import math  # 수학 함수를 사용하기 위한 모듈(math.sqrt(), ...)

# Ex 1.

`fruits = ('apple', 'banana', 'cherry', 'durian', 'watermellon')`

튜플 fruits에 저장된 문자열의 길이들을 저장하는 리스트를 만들어 출력하세요.

In [2]:
fruits = ('apple', 'banana', 'cherry', 'durian', 'watermellon')

# 1. for in
res = []    # 문자열의 길이들을 저장하기 위한 빈 리스트

for x in fruits:    # tuple의 원소들을 하나씩 순서대로 하나씩 반복
    res.append(len(x))  # 문자열의 길이를 리스트에 추가
print('res : ', res)

# 2. list comprehension
res2 = [len(x) for x in fruits]
print('res2 : ', res2)

fruits

res :  [5, 6, 6, 6, 11]
res2 :  [5, 6, 6, 6, 11]

('apple', 'banana', 'cherry', 'durian', 'watermellon')

# Ex 2.

*   1 이상 4 이하 범위의 정수 난수 10개를 저장하는 리스트 gender_codes를 만들고 출력하세요.
*   gender_codes의 값이 1 또는 3이면 'Male', 2 또는 4이면 'Female'을 저장하는 리스트 genders를 만들고 출력하세요.

In [12]:
gender_codes = [random.randrange(1, 5) for _ in range(10)]

genders = []

for x in gender_codes:
    if x in (1, 3):
        genders.append('Male')
    elif x in (2, 4):
        genders.append('Female')
    else:
        print('범위 내의 숫자가 들어오지 않았습니다.')

print(genders)
print(gender_codes)
genders2 = ['Male' if c in (1,3) else 'Female'
             for c in gender_codes]   # if else 구문 사용.
print(genders2)

['Male', 'Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Female', 'Female', 'Female']
[1, 4, 3, 3, 1, 4, 1, 2, 4, 2]
['Male', 'Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Female', 'Female', 'Female']

# Ex 3.

```
m1 = [
    [1, 2, 3],
    [4, 5, 6]
]
m2 = [
    [1, 1, 1],
    [2, 2, 2]
]
```

두 2차원 배열 m1, m2에서 같은 인덱스의 원소들끼리 뺄셈(m1 - m2) 결과를 저장하는 리스트를 만들고 출력하세요.

In [22]:
m1 = [
    [1, 2, 3],
    [4, 5, 6]
]

m2 = [
    [1, 1, 1],
    [2, 2, 2]
]


# 1. for in + 오쌤
res = []    # 결과(2차원 리스트)를 저장하기 위한 리스트

for x, y in zip(m1, m2):
    result = []     # 1차원 리스트의 원소들끼리 뺄셈의 결과를 저장하기 위한 리스트
    for i, l in zip(x, y):
        result.append(i-l)
    res.append(result)

print(res)



# 2. list comprehension
res2 = [i - l for x,y in zip(m1, m2) for i,l in zip(x,y)]
print(res2)

# 3. 오쌤
result = [[x-y for x,y in zip(r1,r2)]
          for r1, r2 in zip(m1,m2)]
print('result :',result)

[[0, 1, 2], [2, 3, 4]]
[0, 1, 2, 2, 3, 4]
result : [[0, 1, 2], [2, 3, 4]]

# Ex 4.

1 이상 10 이하의 정수 난수 5개를 저장하는 리스트 scores를 만들고 출력하세요.

In [38]:
num_of_items = 5
scores = [random.randrange(1, 11) for _ in range(num_of_items)]
scores

[6, 6, 10, 8, 3]

# Ex 5.

문제 4에서 만든 리스트 scores의 원소들의 합계를 계산하고 출력하세요.

In [46]:
# 1.
sum_scores = sum(scores) # 6 + 6 + 10 + 8 + 3 = 33
print(sum_scores)

# 2.
total = 0
for x in scores:
    total += x

total

33

33

# Ex 6.

문제 4에서 만든 리스트 scores의 원소들의 평균을 계산하고 출력하세요.

In [45]:
avg_scores = (sum_scores/num_of_items)
avg_scores

6.6

# Ex 7.

문제 4에서 만든 리스트 scores의 원소들의 분산을 계산하고 출력하세요.

In [53]:
# 1.
var_scores = (6-avg_scores)**2 + (6-avg_scores)**2 + (10-avg_scores)**2 + (8-avg_scores)**2 + (3-avg_scores)**2
print(var_scores)

# 2.
variations = []
for x in scores:
    variations.append((x-avg_scores)**2)

print(sum(variations))

# 3.
variation = [(x-avg_scores) ** 2 for x in scores]
print(sum(variation))

27.2
27.2
27.2

# Ex 8.

문제 4에서 만든 리스트 scores의 원소들의 표준편차를 계산하고 출력하세요.

In [56]:
from math import sqrt

print(sqrt(var_scores))

# 오 쌤
std = var_scores ** 0.5
std

5.215361924162119

5.215361924162119

# Ex 9.

문제 4에서 만든 리스트 scores에서 최댓값을 찾고 출력하세요.

In [60]:
max_scores = max(scores)
print(max_scores)

10

In [67]:
max_score = scores[0]
for x in scores:
    if x > max_score:
        max_score = x

print(max_score)

10

# Ex 10.

문제 4에서 만든 리스트 scores에서 최솟값을 찾고 출력하세요.

In [69]:
min_scores = min(scores)
min_scores

3

In [71]:
min_score = scores[0]
for x in scores:
    if x < min_score:
        min_score = x

min_score

3

In [63]:
# sorted(iterable): iterable의 원소들을 (오름차순) 정렬한 "새로운" 리스트를 리턴함.
# 원본 iteraable의 아이템들의 순서는 바뀌지 않음.
sorted_scores = sorted(scores)
print('scores:',scores)
print('sorted_scores:',sorted_scores)   # 원본의 순서를 바꾸지 않음
print('최솟값:', sorted_scores[0])
print('최댓값:', sorted_scores[-1])

scores: [6, 6, 10, 8, 3]
sorted_scores: [3, 6, 6, 8, 10]
최솟값: 3
최댓값: 10

In [64]:
# list.sort(): list를 (오름차순) 정렬 및 원본 수정함. 리턴하는 값이 없음. 원본 리스트의 아이템 순서들이 바뀜!
scores.sort()   # 원본의 순서를 변경함.
print(scores)

[3, 6, 6, 8, 10]

*   리스트의 모든 원소의 합계

$$
sum = \sum_{i = 1}^{n} x_i = x_1 + x_2 + ... + x_n
$$

*   리스트의 모든 원소의 평균(mean)

$$
\bar{x} = \frac{1}{n} \sum_{i = 1}^{n} x_i
$$

*   리스트의 모든 원소의 분산(variance)

$$
var = \frac{1}{n - 1} \sum_{i = 1}^{n} (x_i - \bar{x})^2
$$

*   리스트의 모든 원소의 표준편차(standard deviation)

$$
std = \sqrt{var}
    = \sqrt{\frac{1}{n - 1} \sum_{i = 1}^{n} (x_i - \bar{x})^2}
$$