<a href="https://colab.research.google.com/github/Sjleerodls/lab_python/blob/main/python06_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 리스트(list)

* `list` : 여러 개의 값들을 하나의 변수에 저장하기 위한 데이터 타입.
* 원소(element), 아이템(item): 리스트에 저장된 각각의 값.
* 인덱스(index): 리스트에 원소들이 저장된 위치를 표시하는 정수.
    * 리스트의 인덱스는 **0** 부터 시작.
    * 리스트에서 마지막 원소의 인덱스는 (원소 개수 - 1).
* 리스트는 원소들을 추가, 변경, 삭제할 수 있음.
    * `tuple`과 다른 점.

In [ ]:
# 숫자들을 저장하는 list
numbers = [1, 2, 10, 20, -1, -2]
print(type(numbers))
print(numbers)
numbers

<class 'list'>
[1, 2, 10, 20, -1, -2]

[1, 2, 10, 20, -1, -2]

In [ ]:
# 파이썬의 리스트는 여러 타입의 값들을 하나의 변수에 저장할 수 있음.
values = [1, 2, '안녕', '파이썬', True, False, [1, 2, 3]]
print(type(values))
values

<class 'list'>

[1, 2, '안녕', '파이썬', True, False, [1, 2, 3]]

# Indexing

인덱스를 사용해서 리스트의 아이템을 사용하는 방법.

In [11]:
numbers = [1, -2, 3, 10, -20, 100]
numbers

[1, -2, 3, 10, -20, 100]

In [13]:
numbers[0]  # 리스트 numbers의 첫번째 아이템

1

In [15]:
numbers[5]  # 리스트 numbers의 인덱스 5번 위치의 원소(마지막 원소)

100

In [23]:
numbers[-1] # 리스트 numbers의 마지막 아이템

100

In [24]:
numbers[-2] # 리스트 numbers의 끝에서 두번째 아이템

-20

# Slicing

`list[start:end]`
* list에서 인덱스 start <= index < end 범위의 아이템들을 잘라내는 방법
* 시작 인덱스 start는 생략하면 첫번째 원소부터 잘라냄. start의 기본값은 0.
* 종료 인덱스 end를 생략하면 마지막 원소까지 잘라냄.
* slicing의 결과는 **새로운 리스트**

In [27]:
numbers[1:4]    # end - start = 출력 개수

[-2, 3, 10]

In [31]:
# 리스트 numbers에서 첫번째 원소부터 3개의 원소를 잘라냄
numbers[:3] # numbers[0:3]

[1, -2, 3]

In [43]:
# 리스트 numbers에서 인덱스 4번 위치부터 마지막 원소까지 잘라냄.
numbers[4:6]    # 6 - 4 = 2
numbers[4:]

[-20, 100]

In [45]:
# 리스트 numbers에서 끝에서 2개 아이템들을 잘라냄.
numbers[-2:]    # 0 - (-2) = 2

[-20, 100]

In [47]:
print(numbers[0])   # 원소(아이템)을 꺼냄, 리스트의 원소
print(numbers[0:1]) # 리스트 내에서 부분 집합처럼 잘라서 가져옴, 또 다른 리스트 생성(슬라이싱), 리스트(부분집합)

1
[1]

In [70]:
print(numbers[6][2])
numbers

3

[1, -2, 3, 10, -20, 100, [1, -2, 3], [1, -2]]

# 문자열 (String)

문자열
* 문자열 : 문자들의 리스트.
* 인덱스를 사용할 수 있음.
    * indexing
    * slicing

In [73]:
message = '안녕, Python!'
message

'안녕, Python!'

In [75]:
message[0] # 문자열 message의 첫번째 문자

'안'

In [78]:
message[-1] # 문자열의 마지막 문자

'!'

In [80]:
message[:2] # 문자열에서 첫 두 글자

'안녕'

In [82]:
message[-2:]    # 문자열에서 마지막 두 글자

'n!'

# 리스트의 산술 연산

* `list + list` : concatenate. 2개의 리스트의 원소들을 합쳐서 하나의 리스트로 만듦.
* `list * int` : replicate. 리스트의 원소들을 정수만큼 복사해서 원소의 개수를 늘림.

In [217]:
print('안녕' + 'Python')
print('안녕' * 3)

안녕Python
안녕안녕안녕

In [92]:
[1, 2, 3] + [10, 20, 30]

[1, 2, 3, 10, 20, 30]

In [93]:
[1, 2, 3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

# list의 기능들 - 함수(메서드)

## 원소 추가

In [87]:
numbers = [1, 2, 3, 4, 5]
numbers

[1, 2, 3, 4, 5]

In [88]:
# list.append(값): list의 가장 마지막에 (값)을 추가
numbers.append(100)
numbers

[1, 2, 3, 4, 5, 100]

In [89]:
# list.insert(idx, val) : 인덱스 idx 바로 앞에 val을 원소로 추가.
numbers.insert(0, -1)
numbers

[-1, 1, 2, 3, 4, 5, 100]

In [90]:
numbers.insert(-1, -100)
numbers

[-1, 1, 2, 3, 4, 5, -100, 100]

In [91]:
# list.extend(iterable) : iterable의 원소들을 하나씩 리스트의 끝에 append.
numbers.extend([11, 22, 33])
numbers

[-1, 1, 2, 3, 4, 5, -100, 100, 11, 22, 33]

In [96]:
# (주의) append와 extend의 차이점:
numbers.append([-1, -2, -3])
numbers

[-1, 1, 2, 3, 4, 5, -100, 100, 11, 22, 33, [-1, -2, -3]]

## 원소 삭제

In [98]:
numbers = [1, 2, 3, 10, 20, 30, 1, 2, 3]
numbers

[1, 2, 3, 10, 20, 30, 1, 2, 3]

In [99]:
# list.pop(): list의 가장 마지막 원소를 삭제.
numbers.pop()
numbers

[1, 2, 3, 10, 20, 30, 1, 2]

In [100]:
# list.pop(index) : list에서 index 위치의 아이템을 삭제.
numbers.pop(0)
numbers

[2, 3, 10, 20, 30, 1, 2]

In [101]:
# list.remove(value) : list에서 첫번째로 등장하는 value를 삭제.
numbers.remove(2)
numbers

[3, 10, 20, 30, 1, 2]

In [102]:
# list.clear(): list의 모든 원소들을 삭제.
numbers.clear()
numbers

[]

## 원소 변경

In [103]:
numbers = [1, 2, 3]
numbers

[1, 2, 3]

In [104]:
# list[index] = value
numbers[1] = 3.14
numbers

[1, 3.14, 3]

# list와 for 반복문

In [108]:
numbers = [1, 2, 3, 10, 20, 30]
for x in numbers:
    print(x, end='\t')

1	2	3	10	20	30

In [110]:
for index, value in enumerate(numbers):
    print(f'{index} : {value}')

0 : 1
1 : 2
2 : 3
3 : 10
4 : 20
5 : 30

# 연습문제

## Ex 1.

* 빈 리스트 numbers를 만듦.
* 리스트에 numbers에 100 미만의 정수 난수 10개 저장. (append 10번 수행)
* numbers를 출력.
* numbers의 원소들 중에서 짝수들로만 이루어진 새로운 리스트 evens를 만들고 출력.
* numbers의 원소들 중에서 홀수들로만 이루어진 새로운 리스트 odds를 만들고 출력.

In [180]:
import random

numbers = []        # 난수들을 저장하기 위한 빈 리스트
for _ in range(10):
    numbers.append(random.randrange(100))


print(numbers)

evens = []  # 짝수들을 저장하기 위한 빈 리스트
odds = []   # 홀수들을 저장하기 위한 빈 리스트
for x in numbers:   # 리스트 number의 원소들을 순서대로 반복하면서
    if x % 2 == 0:  # 리스트의 원소가 짝수면
        evens.append(x) # 리스트 evens에 추가.
    else:
        odds.append(x)

print(evens)
print(odds)

[26, 37, 61, 5, 12, 3, 92, 98, 34, 92]
[26, 12, 92, 98, 34, 92]
[37, 61, 5, 3]

## Ex2.

* integers 이름의 빈 리스트를 만듦.
* 리스트 integers에 -10 이상 10 이하의 정수 난수 10개를 저장하고 출력.
* is_positives 이름의 빈 리스트를 만듦.
* integers의 원소가 양수이면 True, 그렇지 않으면 False를 is_positives에 저장하고 출력

In [214]:
import random

integers = []

for _ in range(10):
    integers.append(random.randrange(-10, 11))

print(integers)

is_positives = []

for x in integers:
    if x > 0 :
        is_positives.append(True)
    else:
        is_positives.append(False)

print(is_positives)

[8, -8, 4, -6, -3, 7, 3, 5, 1, 7]
[True, False, True, False, False, True, True, True, True, True]

## Ex 3.

In [215]:
names = ['Python', 'SQL', 'R', 'Java', 'JavaScript']
name_lengths = []   # names의 저장된 문자열의 길이들을 저장할 리스트

for x in names:
    name_lengths.append(len(x))

print(name_lengths)

[6, 3, 1, 4, 10]

# List Comprehension

In [225]:
# 1 ~ 10 정수들을 순서대로 저장하는 리스트
numbers = []

for x in range(10):
    numbers.append(x)

print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [227]:
numbers2 = [x for x in range(1, 11)]
numbers2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [237]:
# 1 ~ 20 사이의 홀수들을 저장하는 리스트
numbers3 = [x for x in range(1, 21) if x % 2==1]
numbers3 = [x for x in range(1, 21, 2)]
numbers3

# odds = []
# for x in range(1, 21, 2):
#     odds.append(x)
# odds

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [257]:
# 1 ~ 10 정수들의 제곱을 저장하는 리스트 :
numbers4 = [x ** 2 for x in range(1, 11)]
numbers4

# squares = []
# for x in range(1, 11):
#     squares.append(x ** 2)

# print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [296]:
# 0 이상 100 미만의 정수 난수 10개를 저장하는 리스트
numbers5 = [random.randrange(0, 100) for _ in range(1, 11)]
numbers5

# rand_numbers = []
# for _ in range(1,11):
#     rand_numbers.append(random.randrange(0, 100))
# rand_numbers

[10, 98, 54, 29, 52, 64, 30, 9, 45, 16]

In [302]:
# rand_numbers의 원소들 중에서 짝수들로만 이루어진 리스트
rand_numbers = [x for x in numbers5 if x % 2 == 0]
rand_numbers

# evens = []
# for x in numbers5:
#     if x % 2 == 0:
#         evens.append(x)
# evens

[10, 98, 54, 52, 64, 30, 16]

In [306]:
# rand_numbers의 원소들 중에서 홀수들로만 이루어진 리스트
rand_odd_numbers = [x for x in numbers5 if x % 2]
rand_odd_numbers

# odds = []
# for x in numbers5:
#     if x % 2:
#         odds.append(x)
# odds

[29, 9, 45]

## if-else 표현식

`값1 if 조건식 else 값2` : 조건식이 참일 때는 (값1)을 선택, 그렇지 않으면 (값2)를 선택.

In [309]:
x = 13
is_even = True if x % 2 == 0 else False
is_even

False

In [316]:
# rand_numbers의 원소가 짝수이면 True 그렇지 않으면 False를 저장하는 리스트
result = [True if x % 2 == 0 else False for x in numbers5]
print(result)
numbers5

# result = []
# for x in numbers5:
#     if x % 2 == 0:
#         result.append(True)
#     else:
#         result.append(False)
# result

[True, True, True, False, True, True, True, False, False, True]

[10, 98, 54, 29, 52, 64, 30, 9, 45, 16]

In [324]:
gender_codes = [random.randrange(2) for _ in range(10)]
print(gender_codes)

# gender_codes의 원소가 0이면 '남성', 그렇지 않으면 '여성'을 저장하는 리스트.
genders = ['남성' if x == 0 else '여성' for x in gender_codes]
genders

# genders = []
# for x in gender_codes:
#     if x == 0:
#         genders.append('남성')
#     else:
#         genders.append('여성')

# genders

[1, 1, 0, 0, 0, 0, 1, 0, 1, 0]

['여성', '여성', '남성', '남성', '남성', '남성', '여성', '남성', '여성', '남성']

# `zip()` 함수와 for 반복문

In [335]:
numbers1 = [1, 2, 3, 4, 5]
numbers2 = [1, 3, 5, 7, 9]

# 두 리스트 numbers1과 numbers2의 같은 인덱스에 있는 원소들끼리 덧셈 결과를 저장하는 리스트.
adds = []

for i in range(len(numbers1)):
    plus = numbers1[i] + numbers2[i]
    adds.append(plus)
adds

[2, 5, 8, 11, 14]

In [338]:
adds2 = []
for x, y in zip(numbers1, numbers2):
    adds2.append(x + y)

adds2

[2, 5, 8, 11, 14]

In [344]:
adds3 = [x + y for x,y in zip(numbers1, numbers2)]
adds3

[2, 5, 8, 11, 14]

In [350]:
# numbers1 과 numbers2의 같은 인덱스에 있는 원소들의 뺄셈
subtracts = [x - y for x,y in zip(numbers1,numbers2)]
subtracts

# subtracts = []
# for i in range(len(numbers1)):
#     minus = numbers1[i] - numbers2[i]
#     subtracts.append(minus)
# subtracts

# subtracts = []
# for x , y in zip(numbers1, numbers2):
#     subtracts.append(x - y)
# subtracts

[0, -1, -2, -3, -4]

# 다차원 리스트

리스트를 원소로 갖는 리스트.

In [352]:
matrix = [
    [1, 2, 3],
    [4, 5, 6, 7],
    [8,9]
]
matrix

[[1, 2, 3], [4, 5, 6, 7], [8, 9]]

In [354]:
len(matrix)

3

In [359]:
print(matrix[0][0])
matrix[0]

1

[1, 2, 3]

In [363]:
matrix[1][3]

7

In [366]:
matrix[-1][-1]

9

## 다차원 리스트와 for 반복문

In [368]:
for x in matrix:
    print(x)

[1, 2, 3]
[4, 5, 6, 7]
[8, 9]

In [371]:
for row in matrix:
    for x in row:
        print(x, end='\t')
    print()

1	2	3
4	5	6	7
8	9

In [374]:
matrix_3d = [
    [
        [1, 2, 3],
        [4, 5, 6]
    ],
    [
        [7, 8, 9],
        [0, 1, 2]
    ]
]
matrix_3d

[[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [0, 1, 2]]]

In [376]:
len(matrix_3d)

2

In [378]:
matrix_3d[0]

[[1, 2, 3], [4, 5, 6]]

In [380]:
matrix_3d[0][0]

[1, 2, 3]

In [383]:
matrix_3d[0][0][2]

3