<a href="https://colab.research.google.com/github/Sjleerodls/lab_python/blob/main/python14_class_ex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ex 1.

Score 클래스 선언
* 속성(property) : 국어(korean), 수학(math), 과학(science)
    * 국어, 수학, 과학의 기본값은 0
* 기능(method) : get_total(총점 리턴), get_mean(평균 리턴)
* `__str__` 메서드 : "Score(korean=100, math=100, science=100)" 형식의 문자열을 리턴.
* `__repr__` 메서드 : "점수(국어=100, 수학=100, 과학=100)" 형식의 문자열을 리턴.

In [ ]:
class Score:
    def __init__(self, korean=0, math=0, science=0):    # default argument
        self.korean = korean
        self.math = math
        self.science = science

    def get_total(self):
        return self.korean + self.math + self.science

    def get_mean(self):
        return self.get_total() / 3

    def __str__(self):      # print
        return f'Score (korean = {self.korean}, math = {self.math}, scienc={self.science})'
                            # 드물게 __str__과 __repr__이 출력하는 경우가 약간 다른 case가 존재함!!
    def __repr__(self):     # 식(expression)
        return f'점수 (국어 = {self.korean}, 수학 = {self.math}, 과학 = {self.science})'

In [ ]:
s1 = Score(100, 99, 97)
print(s1)
print(s1.get_total())
print(s1.get_mean())
s1

Score (korean = 100, math = 99, scienc=97)
296
98.66666666666667

점수 (국어 = 100, 수학 = 99, 과학 = 97)

In [ ]:
s2 = Score(77, 88, 99)
print(s2)
print(s2.get_total())
print(s2.get_mean())
s2

Score (korean = 77, math = 88, scienc=99)
264
88.0

점수 (국어 = 77, 수학 = 88, 과학 = 99)

# Ex 2.

Student 클래스 선언
* 속성 : 번호(id), 이름(name), 점수(score : Score 타입 객체)
* `__str__`, `__repr__` 메서드 같은 형식의 문자열을 리턴.
    * (예) Student(id=1, name=홍길동, score=Score(...))

In [ ]:
class Student:
    def __init__ (self, id, name, score):
        self.id = id
        self.name = name
        self.score = score

    def __str__(self):      # __dir__ 이런 유형이 매직 메서드임.
        return f'Student (id = {self.id}, name = {self.name}, score = {self.score})'    # korean = {self.score.korean},
                                                                                        # math = {self.score.math},
                                                                                        # science = {self.score.science}

    # def __repr__(self):
    #     return f'Student (id = {self.id}, name = {self.name}, score = {self.score})'

    def __repr__(self):         # 동일한 내용이라면 다음과 같이 사용 가능.
        return self.__str__()

In [ ]:
st1 = Student(1, '홍길동', s1)
print(st1)
st1

Student (id = 1, name = 홍길동, score = Score (korean = 100, math = 99, scienc=97))

Student (id = 1, name = 홍길동, score = Score (korean = 100, math = 99, scienc=97))

In [ ]:
st2 = Student(111, 'Scott', s2)
print(st2)
st2

Student (id = 111, name = Scott, score = Score (korean = 77, math = 88, scienc=99))

Student (id = 111, name = Scott, score = Score (korean = 77, math = 88, scienc=99))

결과 확인

In [ ]:
score1 = Score()    # default argument
print(score1)
score1

Score (korean = 0, math = 0, scienc=0)

점수 (국어 = 0, 수학 = 0, 과학 = 0)

In [ ]:
score2 = Score(100, 99, 97)
print(score2)
score2

Score (korean = 100, math = 99, scienc=97)

점수 (국어 = 100, 수학 = 99, 과학 = 97)

In [ ]:
student1 = Student(1, '홍길동', score1)
print(student1)
student1

Student (id = 1, name = 홍길동, score = Score (korean = 0, math = 0, scienc=0))

Student (id = 1, name = 홍길동, score = Score (korean = 0, math = 0, scienc=0))

In [ ]:
student2 = Student(2, '오쌤', score2)
print(student2)
print('총점 =', student2.score.get_total())
print('평균 =', student2.score.get_mean())

Student (id = 2, name = 오쌤, score = Score (korean = 100, math = 99, scienc=97))
총점 = 296
평균 = 98.66666666666667

In [ ]:
student3 = Student(3, 'Scott', Score(11, 22, 32))
print(student3)
print('총점 =', student3.score.get_total())
print('평균 =', student3.score.get_mean())

Student (id = 3, name = Scott, score = Score (korean = 11, math = 22, scienc=32))
총점 = 65
평균 = 21.666666666666668