<a href="https://colab.research.google.com/github/Sjleerodls/lab_python/blob/main/python09_dict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# dict

* 사전(dictionary) 형식의 데이터 타입
* 키(key)와 값(value)을 쌍으로 저장하는 데이터 타입
    * list, tuple : 인덱스를 기반으로 값(들)을 저장하는 데이터 타입.
    * dict : 키(key)를 기반으로 값(value)을 저장하는 데이터 타입.
    * dict 타입에서 키의 역할은 list나 tuple에서 인덱스가 하는 역할과 비슷함.
        * dict에 저장된 1개의 값을 참조할 때 사용.
        * 키는 중복된 값을 허용하지 않음.

In [2]:
students = {100: '홍길동', 101: '오쌤', 200: 'Scott', 300: 'King'}
print(type(students))
print(students)

<class 'dict'>
{100: '홍길동', 101: '오쌤', 200: 'Scott', 300: 'King'}

In [4]:
students[101]   # dict_var[key] => key에 맵핑된 값을 찾음.

'오쌤'

# dict 함수(메서드)

In [5]:
# dict_var.keys(): dict_var가 가지고 있는 키들의 리스트를 리턴.
students.keys()

dict_keys([100, 101, 200, 300])

In [7]:
# dict_var.values(): dict_var가 가지고 있는 값들의 리스트를 리턴.
students.values()

dict_values(['홍길동', '오쌤', 'Scott', 'King'])

In [9]:
# dict_var.items(): (key, value) 튜플들의 리스트를 리턴.
students.items()

dict_items([(100, '홍길동'), (101, '오쌤'), (200, 'Scott'), (300, 'King')])

In [10]:
# dict_var.get(key): key에 매핑된 값(value)를 리턴. dict_var[key]와 동일.
students.get(100)

'홍길동'

`dict_var[key] = value`

* key가 dict_var 안에 있을 때, key에 해당하는 값(value)를 새로운 값(value)로 재할당(변경).
* key가 dict_var 안에 없는 경우, 새로운 key-value 아이템을 dict_var에 추가.

In [13]:
# value의 값 변경
students[300] = 'Allen'
students

{100: '홍길동', 101: '오쌤', 200: 'Scott', 300: 'Allen'}

In [14]:
# 새로운 key-value 추가
students[301] = 'Tiger'
students

{100: '홍길동', 101: '오쌤', 200: 'Scott', 300: 'Allen', 301: 'Tiger'}

## dict와 for 반복문

In [21]:
# for-in 반복문에서 dict 타입 객체를 사용하면 key들을 순회(iteration).
for k in students:
    print(k, ':', students[k])

100 : 홍길동
101 : 오쌤
200 : Scott
300 : Allen
301 : Tiger

In [24]:
for k, v in students.items():
    print(k, ':', v)

100 : 홍길동
101 : 오쌤
200 : Scott
300 : Allen
301 : Tiger

In [28]:
book = {'title': '파이썬 예제', 'author': '오쌤', 'price': 10_000}
print(book)
print(book['title'])
print(book.get('author'))
for k, v in book.items():
    print(k, ':', v)

{'title': '파이썬 예제', 'author': '오쌤', 'price': 10000}
파이썬 예제
오쌤
title : 파이썬 예제
author : 오쌤
price : 10000

dict는 key와 value 모두 다양한 타입의 자료들을 사용할 수 있음.

# 다양한 자료들을 저장하는 dict

In [30]:
contact = {
    'id': 1,
    'name': '오쌤',
    'phones': ['010-1234-5678', '02-1234-5678', '02-0000-0000'],
    'emails': {'company': 'jake@itwill.com', 'personal': 'jake@naver.com'}
}

contact

{'id': 1,
 'name': '오쌤',
 'phones': ['010-1234-5678', '02-1234-5678', '02-0000-0000'],
 'emails': {'company': 'jake@itwill.com', 'personal': 'jake@naver.com'}}