<a href="https://colab.research.google.com/github/Sjleerodls/lab_python/blob/main/python08_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [85]:
import random  # 난수 생성을 위한 모듈(random.random(), random.randrange(), ...)
import math  # 수학 함수를 사용하기 위한 모듈(math.sqrt(), ...)

# Ex 1.

`fruits = ('apple', 'banana', 'cherry', 'durian', 'watermellon')`

튜플 fruits에 저장된 문자열의 길이들을 저장하는 리스트를 만들어 출력하세요.

In [12]:
fruits = ('apple', 'banana', 'cherry', 'durian', 'watermellon')

# 1.
res = []

for x in fruits:
    res.append(len(x))
print(res)

# 2.
res2 = [len(x) for x in fruits]
print(res2)

fruits

[5, 6, 6, 6, 11]
[5, 6, 6, 6, 11]

('apple', 'banana', 'cherry', 'durian', 'watermellon')

# Ex 2.

*   1 이상 4 이하 범위의 정수 난수 10개를 저장하는 리스트 gender_codes를 만들고 출력하세요.
*   gender_codes의 값이 1 또는 3이면 'Male', 2 또는 4이면 'Female'을 저장하는 리스트 genders를 만들고 출력하세요.

In [56]:
gender_codes = [random.randrange(1, 5) for x in range(10)]

genders = []

for x in gender_codes:
    if x in (1, 3):
        genders.append('Male')
    elif x in (2, 4):
        genders.append('Female')

genders

['Female',
 'Male',
 'Male',
 'Male',
 'Female',
 'Male',
 'Female',
 'Male',
 'Female',
 'Female']

# Ex 3.

```
m1 = [
    [1, 2, 3],
    [4, 5, 6]
]
m2 = [
    [1, 1, 1],
    [2, 2, 2]
]
```

두 2차원 배열 m1, m2에서 같은 인덱스의 원소들끼리 뺄셈(m1 - m2) 결과를 저장하는 리스트를 만들고 출력하세요.

In [77]:
m1 = [
    [1, 2, 3],
    [4, 5, 6]
]

m2 = [
    [1, 1, 1],
    [2, 2, 2]
]


# 1.
res = []

for x, y in zip(m1, m2):
    for i, l in zip(x, y):
        res.append(i-l)

print(res)

[0, 1, 2, 2, 3, 4]

# Ex 4.

1 이상 10 이하의 정수 5개를 저장하는 리스트 scores를 만들고 출력하세요.

In [80]:
scores = [random.randrange(1, 11) for x in range(5)]
scores

[2, 9, 8, 7, 3]

# Ex 5.

문제 4에서 만든 리스트 scores의 원소들의 합계를 계산하고 출력하세요.

In [88]:
sum_scores = sum(scores) # 2 + 9 + 8 + 7 + 3 = 29
sum_scores

29

# Ex 6.

문제 4에서 만든 리스트 scores의 원소들의 평균을 계산하고 출력하세요.

In [94]:
avg_scores = (sum_scores/5)
avg_scores

5.8

# Ex 7.

문제 4에서 만든 리스트 scores의 원소들의 분산을 계산하고 출력하세요.

In [96]:
var_scores = (2-avg_scores)**2 + (9-avg_scores)**2 + (8-avg_scores)**2 + (7-avg_scores)**2 + (3-avg_scores)**2
var_scores

38.8

# Ex 8.

문제 4에서 만든 리스트 scores의 원소들의 표준편차를 계산하고 출력하세요.

In [104]:
from math import sqrt

print(sqrt(var_scores))

6.2289646009589745

# Ex 9.

문제 4에서 만든 리스트 scores에서 최댓값을 찾고 출력하세요.

In [99]:
max_scores = max(scores)
max_scores

9

# Ex 10.

문제 4에서 만든 리스트 scores에서 최솟값을 찾고 출력하세요.

In [100]:
min_scores = min(scores)
min_scores

2

*   리스트의 모든 원소의 합계

$$
sum = \sum_{i = 1}^{n} x_i = x_1 + x_2 + ... + x_n
$$

*   리스트의 모든 원소의 평균(mean)

$$
\bar{x} = \frac{1}{n} \sum_{i = 1}^{n} x_i
$$

*   리스트의 모든 원소의 분산(variance)

$$
var = \frac{1}{n - 1} \sum_{i = 1}^{n} (x_i - \bar{x})^2
$$

*   리스트의 모든 원소의 표준편차(standard deviation)

$$
std = \sqrt{var}
    = \sqrt{\frac{1}{n - 1} \sum_{i = 1}^{n} (x_i - \bar{x})^2}
$$