<a href="https://colab.research.google.com/github/Sjleerodls/lab_python/blob/main/python11_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 함수(Function)

In [4]:
result = len('hello python')
print(result)

12

* **함수(function)** : 기능을 수행하는 코드 블록.
* **인수(argument)** : 함수를 호출할 때 함수에게 전달하는 값.
* **매개변수(parameter)** : 아규먼트를 저장하기 위해서 함수를 정의할 때 선언하는 변수.
* **반환값(return value)** : 함수가 기능을 수행하고 그 결과로 함수를 호출한 곳에 되돌려 주는 값.
    * 함수에 따라서 반환값이 있는 함수도 있고, 반환값이 없는 함수도 있음.

# 함수 선언(정의)

```
def function_name([parameter, ...]):
    ["""문서 주석(documentation comments)"""]
    함수가 수행할 코드 블록
    return 반환값
```

* 반환값이 없는 함수는 return 문장을 생략하거나, return None으로 문장을 사용할 수 있음.
* return 문장의 의미 :
    * 함수 종료
    * 함수를 호출한 곳에 값을 되돌려 줌.

In [13]:
def subtract(x,y):
    """ 숫자 x, y를 전달 받아서 x - y를 리턴하는 함수 """
    return x - y

In [16]:
result = subtract(1, 2)
print(result)

-1

## 값을 반환하지 않는 함수

In [26]:
def repeat_message(msg, n):
    """
    msg를 n번 반복해서 출력.

    @param msg - 출력할 문자열.
    @param m - 반복할 횟수. 0 또는 양의 정수.
    """

    for _ in range(n):
        print(msg)

    # return None

In [27]:
repeat_message('안녕하세요', 5)

안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요

In [28]:
repeat_message('Hello', 3)

Hello
Hello
Hello

## 2개 이상의 값을 반환하는 함수

In [31]:
def plus_and_minus(x, y):
    """
    x + y, x - y 를 리턴.

    @param x - 숫자 타입(int 또는 float)
    @param y - 숫자 타입(int 또는 float)
    @return x + y, x - y
    """

    # return ret_value1, ret_value2, ...
    return x + y, x - y

In [37]:
a, b = plus_and_minus(1, 2)
print(f'a = {a}, b = {b}')

a = 3, b = -1

In [39]:
result = plus_and_minus(3, 4)
print(type(result)) # result : 리턴 값들을 저장하는 튜플
print(result)

<class 'tuple'>
(7, -1)

## 연습문제 1.

* 함수 이름 : make_list
* 기능 : [start, end) 범위의 정수 난수 n개를 아이템으로 갖는 리스트를 리턴
* 파라미터 : start(정수), end(정수), n(0 또는 양의 정수)
* 리턴: 리스트.

In [84]:
import random

def make_list(start, end, n):
    """
    [start, end) 범위의 정수 난수 n개를 아이템으로 갖는 리스트를 리턴.

    @param start : int. 난수 시작 범위.
    @param end : int. 난수 종료 범위.
    @param n : int. 리스트의 아이템 개수. 0 또는 양의 정수.
    @return 난수들의 리스트.
    """

    # vin = []

    # for x in range(n):
    #     vin.append(random.randrange(start, end))

    vin = [random.randrange(start, end) for x in range(n)]
    return vin

In [89]:
my_list = make_list(0, 2, 10)
print(my_list)

[0, 0, 1, 0, 0, 1, 0, 1, 1, 1]

In [90]:
make_list(0, 101, 5)

[34, 5, 7, 36, 4]

## 연습문제 2.

* 함수 이름 : calculate_sum
* 기능 : 숫자(정수, 실수)들을 원소로 갖는 리스트를 전달 받아서, 그 리스트의 모든 원소들의 합계를 리턴.
* 파라미터 : array(리스트)
* 리턴 : 리스트 원소들의 합계.

In [112]:
def calculate_sum(list):
    """
    입력받은 list내 모든 숫자의 합계를 리턴.

    @param list : int, float. 숫자만 입력
    """
    return sum(list)

In [153]:
def calculate_sum2(list):
    """
    입력받은 list 내 모든 숫자의 합계를 리턴.

    @param list : int, float. 숫자만 입력
    """
    v = 0
    for i in list:
        v += i
    return v

In [155]:
# 오쌤
def calculate_sum3(array):
    """
    숫자(정수, 실수)들을 원소로 갖는 리스트를 전달받아서, 그 리스트의 모든 원소들의 합계를 리턴.

    @param array - 숫자(int, float)들의 리스트.
    @return - array의 모든 원소들의 합계.
    """
    result = 0
    for x in array:
        result += x

    return result

In [151]:
calculate_sum([1, 2, 3, 4, 5])

15

In [156]:
calculate_sum2([1, 2, 3, 4, 5])

15

In [166]:
my_list = make_list(1, 10, 3)
print(my_list)
result = calculate_sum3(my_list)
print(result)

[5, 5, 1]
11

## 연습문제 3.

* 함수 이름 : calculate_mean
* 기능 : 숫자들을 원소로 갖는 리스트의 원소들의 평균을 리턴.
* 파라미터 : array(리스트)
* 리턴 : 리스트 원소들의 평균.

In [113]:
def calculate_mean(list):
    """
    입력받은 list의 평균을 리턴.

    @param list : int, float. 숫자만 입력
    """
    return sum(list) / len(list)

In [172]:
def calculate_mean2(array):
    """
    pass
    """
    sum_res = 0
    for i in array:
        sum_res += i

    return sum_res / len(array)

In [173]:
# 오 쌤
def calculate_mean3(array):
    """
    숫자들을 원소로 갖는 리스트의 원소들의 평균을 리턴.

    @param array - 숫자(int, float)들을 원소로 갖는 리스트.
    @return 리스트 array의 원소들의 평균.
    """
    return calculate_sum3(array) / len(array)

In [159]:
calculate_mean([1, 2, 3, 4, 5])

3.0

In [171]:
my_list = make_list(1, 5, 5)
print(my_list)

calculate_mean2(my_list)

[4, 2, 1, 2, 3]

2.4

In [174]:
my_list = make_list(0, 101, 5)
print(my_list)
calculate_mean3(my_list)

[43, 1, 32, 28, 92]

39.2

## 연습문제 4.

* 함수 이름 : find_min_and_max
* 기능 : 숫자들을 원소로 갖는 리스트를 아규먼트로 전달 받아서, 리스트의 최솟값과 최댓값을 리턴.
* 파라미터 : 숫자들의 리스트
* 리턴 : 리스트의 최솟값과 최댓값.

In [146]:
def find_min_and_max(list):
    """
    입력받은 list 내 min, max 값을 리턴.

    @param list : int, float. 숫자만 입력.
    """
    result = sorted(list)
    minimum = result[0]
    maximum = result[-1]

    return minimum, maximum

In [148]:
def find_min_and_max(list):
    """
    입력받은 list 내 min, max 값을 리턴.

    @param list : int, float. 숫자만 입력.
    222
    """
    min1 = min(list)
    max1 = max(list)

    return min1, max1

In [180]:
# 오쌤
def find_min_and_max3(array):
    """
    숫자들을 원소로 갖는 리스트에 최솟값과 최댓값을 리턴.

    @param array - 숫자(int, float)들을 원소로 갖는 리스트.
    @return array의 최솟값, 최댓값
    """
    # return min(array), max(array)
    min_value = array[0]
    max_value = array[0]
    for x in array:
        if x > max_value:
            max_value = x
        if x < min_value:
            min_value = x

    return min_value, max_value

In [177]:
find_min_and_max([1, 2, 3])

(1, 3)

In [184]:
my_list = make_list(0, 101, 10)
print(my_list)
print(find_min_and_max3(my_list))

[86, 86, 48, 72, 93, 88, 68, 37, 6, 96]
(6, 96)

# Default Argument(기본 아규먼트)

* 함수를 선언할 때 파라미터에 설정하는 기본 값.
    * default parameter: 기본값이 설정된 파라미터(매개변수)
* 함수를 호출할 때 default parameter에 아규먼트를 전달하지 않으면 default 아규먼트가 기본값으로 사용됨.
* 함수를 호출할 때 default parameter에 아규먼트를 전달하면, 기본값 대신 전달한 아규먼트가 사용됨.

In [186]:
print('안녕', 'Hello', '파이썬', 'Python')

안녕 Hello 파이썬 Python

In [189]:
print('안녕', 'Hello', '파이썬', 'Python', sep=',')

안녕,Hello,파이썬,Python

In [191]:
def repeat_message(msg, n=1):
    for _ in range(n):
        print(msg)

In [195]:
repeat_message('안녕하세요')    # default argument가 사용됨(n=1)

안녕하세요

In [196]:
repeat_message('Hi', 5)     # 전달한 아규먼트 (5)가 사용됨.

Hi
Hi
Hi
Hi
Hi

**(주의)** default parameter(기본값을 갖는 파라미터)들은 기본값을 갖지 않는 파라미터(들) 뒤에서만 선언할 수 있음.

default parameter를 기본값을 갖지 않는 파라미터보다 먼저 선언하면 문법 오류 발생!!

In [207]:
def test_success(x, y=0):
    pass

In [208]:
def test_success_2(x=0, y=0):
    pass

In [210]:
def test_failure(x=0, y):   # 기본값을 갖는 파라미터는 가장 마지막에 써야함.
    pass

SyntaxError: non-default argument follows default argument (<ipython-input-210-8c5aa848f683>, line 1)

In [211]:
def test(x=0, y=0):
    print(f'x = {x}, y = {y}')

In [217]:
test()

x = 0, y = 0

In [218]:
test(1)

x = 1, y = 0

In [220]:
test(0,2)

x = 0, y = 2

In [222]:
test(y=2)

x = 0, y = 2

함수를 호출할 때 아규먼트를 전달하는 방법:

* **positional argument** : 선언된 파라미터 순서대로 아규먼트(들)을 전달하는 방식.
* **keyword argument** : `param = value` 형식으로 아규먼트(들)을 전달하는 방식.
    * keyword argument 방식을 사용할 때는 파라미터 선언 순서를 지키지 않아도 됨.
    * **(주의)** 함수를 호출할 때 positional argument와 keyword argument를 함께 사용하는 경우에는, **반드시** positional argument를 먼저 전달해야 함. keyword argument를 positional argument보다 먼저 전달할 수 없음!!

In [223]:
test(y=-1, x=1)     # keyword argument 방식

x = 1, y = -1

In [224]:
test(100, y=-100)   # positional & keyword argument 방식을 함께 사용

x = 100, y = -100

In [225]:
test(x=100, 200)    # keyword argument를 positional argument보다 먼저 사용하면 문법 오류 발생함.

SyntaxError: positional argument follows keyword argument (<ipython-input-225-3b7232cf04b2>, line 1)

In [226]:
print(sep=',', 'Hi', 'Hello')

SyntaxError: positional argument follows keyword argument (<ipython-input-226-52a01fcdd7f0>, line 1)