<a href="https://colab.research.google.com/github/Sjleerodls/lab_python/blob/main/python13_oop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 객체지향 프로그래밍 배경

In [4]:
students = [
    {'id' : 1, 'name' : '홍길동', 'korean' : 100, 'english' : 80, 'math' : 95},
    {'id' : 2, 'name' : '오쌤', 'kor' : 50, 'eng' : 45, 'math' : 61},   # 다른 데이터와 병합 과정에서 다른 key 값이 들어옴.
    {'id' : 3, 'name' : 'Scott', 'korean' : 70, 'english' : 99, 'math' : 78}
]

In [5]:
print(students[0].keys())
students[1].keys()

dict_keys(['id', 'name', 'korean', 'english', 'math'])

dict_keys(['id', 'name', 'kor', 'eng', 'math'])

In [6]:
# 번호, 이름, 총점, 평균을 출력
def students_info(id):
    result = []
    student_idx = id - 1
    student = students[student_idx] # 중복 방지

    if 'korean' in student and 'english' in student and 'math' in student:
        total = student['korean'] + student['english'] + student['math']
    elif 'kor' in student and 'eng' in student and 'math' in student:
        total = student['kor'] + student['eng'] + student['math']
    else:
        total = 0   # 예외 처리


    mean = total / 3

    result.append(student['id'])
    result.append(student['name'])
    result.append(total)
    result.append(mean)

    return result

In [7]:
students[2]

{'id': 3, 'name': 'Scott', 'korean': 70, 'english': 99, 'math': 78}

In [8]:
print(students_info(1)) # 1-1 = 0 --> 2
print(students_info(2)) # 2-1 = 1 --> 3
print(students_info(3)) # 3-1 = 2 --> indexError : list index out of range

[1, '홍길동', 275, 91.66666666666667]
[2, '오쌤', 156, 52.0]
[3, 'Scott', 247, 82.33333333333333]

In [9]:
# 번호, 이름, 총점, 평균을 출력
# 오쌤
for s in students:
    total = s['korean'] + s['english'] + s['math']
    mean = total/3
    print()
    print(f"번호 : {s['id']}, 이름 : {s['name']}, 총점 : {total}, 평균 : {mean}")

번호 : 1, 이름 : 홍길동, 총점 : 275, 평균 : 91.66666666666667

KeyError: 'korean'

위 코드의 문제점은 dict의 키는 중복되지만 않게 만들면 되기 때문에, 반복문에서 총점과 평균을 계산하는 코드가 제대로 동작하지 않을 수도 있음.

## 함수형 프로그래밍(Functional Programming)

In [ ]:
def create_students(id, name, korean, english, math):
    student = {'id' : id,
               'name' : name,
               'korean' : korean,
               'english' : english,
               'math' : math}

    return student

In [ ]:
students = [
    create_students(1, '홍길동', 100, 95, 98),
    create_students(2, '오쌤', 50, 45, 62),
    create_students(3, 'Scott', 97, 85, 51),
    create_students(4, 'Tiger', 15, 39, 74)
]
students

[{'id': 1, 'name': '홍길동', 'korean': 100, 'english': 95, 'math': 98},
 {'id': 2, 'name': '오쌤', 'korean': 50, 'english': 45, 'math': 62},
 {'id': 3, 'name': 'Scott', 'korean': 97, 'english': 85, 'math': 51},
 {'id': 4, 'name': 'Tiger', 'korean': 15, 'english': 39, 'math': 74}]

In [ ]:
def get_total(student):
    return student['korean'] + student['english'] + student['math']

In [ ]:
def get_mean(student):
    return get_total(student) / 3

In [ ]:
for s in students:
    total = get_total(s)
    mean = get_mean(s)

    print(f"번호 : {s['id']}, 이름 : {s['name']}, 총점 : {total}, 평균 : {mean}")

번호 : 1, 이름 : 홍길동, 총점 : 293, 평균 : 97.66666666666667
번호 : 2, 이름 : 오쌤, 총점 : 157, 평균 : 52.333333333333336
번호 : 3, 이름 : Scott, 총점 : 233, 평균 : 77.66666666666667
번호 : 4, 이름 : Tiger, 총점 : 128, 평균 : 42.666666666666664

get_total 함수와 get_mean 함수는 학생 객체(dict)의 데이터와 매우 밀접한 관계를 가지고 있음.

데이터(국어, 영어, 수학 점수)와 기능(총점 계산, 평균 계산)이 매우 밀접하게 연결되어 있음.

데이터와 기능을 하나의 자료 타입으로 묶을 수 없을까?

## 객체 지향 프로그래밍(OOP: Object-Oriented Programming)

* 객체(object) : 속성을 가지고 있는 대상.
* 클래스(class) : 객체를 만들기 위한 설계도(코드)
    * 속성(property) : 객체가 가져야 하는 값(들). 변수.
    * 기능(method) : 클래스 안에서 선언하는 함수.
        * 메서드를 선언할 때 첫번째 아규먼트는 self.
* 인스턴스(instance) : 메모리에 생성된 객체.
* 생성자(constructor) : 클래스 이름과 동일한 함수. 객체를 생성해 주는 함수.
    * 생성자를 호출하면 클래스에서 선언한 특별한 이름의 메서드를 호출함 `__init__()`

In [10]:
class Student:
    # 생성자 : 객체 초기화
    def __init__(self, id, name, korean, english, math):
        self.id = id                # self라는 객체에 id변수 = 1을 저장. 메모리 안에
        self.name = name            # self라는 객체에 name변수 = '홍길동'을 저장. 메모리 안에
        self.korean = korean        # self(메모리) 객체 안에 korean변수 = 100 을 저장.
        self.english = english      # self(메모리) 객체 안에 english변수 = 98 을 저장.
        self.math = math            # self(메모리) 객체 안에 math변수 = 96 을 저장.

    # 메서드(method)
    def get_total(self):
        return self.korean + self.english + self.math

    def get_mean(self):
        return self.get_total() / 3

In [11]:
student1 = Student(1, '홍길동', 100, 98, 96)    # 생성자 호출 -> __init__ 메서드 호출.
print(student1)         # 인스턴스
print(student1.id)      # . 참조 연산자
print(student1.name)
print(student1.korean)
print(student1.get_total())     # 메서드 호출
print(student1.get_mean())

<__main__.Student object at 0x7d62ae2659d0>
1
홍길동
100
294
98.0

In [ ]:
students = [
    Student(1, '홍길동', 100, 98, 96),
    Student(2, '오쌤', 55, 65, 77),
    Student(3, 'Scott', 88, 99, 86)
]
students

[<__main__.Student at 0x7c123fd8e4d0>,
 <__main__.Student at 0x7c123fd8e7d0>,
 <__main__.Student at 0x7c123fd8f010>]

In [ ]:
for s in students:
    print(f'번호 : {s.id}, 이름 : {s.name}, 총점 : {s.get_total()}, 평균 : {s.get_mean()}')

번호 : 1, 이름 : 홍길동, 총점 : 294, 평균 : 98.0
번호 : 2, 이름 : 오쌤, 총점 : 197, 평균 : 65.66666666666667
번호 : 3, 이름 : Scott, 총점 : 273, 평균 : 91.0

# 클래스 연습

## Ex 1.

In [17]:
class Circle:
    # 객체 초기화 생성자
    def __init__(self, radius):
        self.radius = radius

    # 메서드 생성(클래스의 함수)
    def area(self):
        return self.radius ** 2 * 3.14

    def perimeter(self):
        return 2 * 3.14 * self.radius

In [25]:
c1 = Circle(1)  # 생성자 호출 -> 객체 생성 & 초기화
print(c1)
print(c1.radius)    # 객체가 가지고 있는 변수
print(c1.area())    # 객체의 메서드
print(c1.perimeter())   # 객체의 메서드

<__main__.Circle object at 0x7d62ae2e1a10>
1
3.14
6.28

In [35]:
c2 = Circle(10)      # 초기화 & 새로운 객체 생성
print(c2)           # 클래스 및 메모리 저장 주소 출력
print(c2.radius)    # c2 객체의 변수 출력
print(c2.area())        # c2 객체의 메서드
print(c2.perimeter())   # c2 객체의 다른 메서드

<__main__.Circle object at 0x7d62ae2896d0>
10
314.0
62.800000000000004

## Ex 2.

직사각형(Rectangle) 클래스
* 기능 : 넓이(area), 둘레길이(perimeter), 크기변경(resize)
* 속성 : 가로(width), 세로(height)

In [37]:
class Rectangle:
    def __init__(self, x, y):
        self.x = x
        self.y = y

    def c_width(self):
        return self.x * self.y

    def c_around(self):
        return self.x * 2 + self.y * 2

In [47]:
r1 = Rectangle(4, 3)
print(r1)
print(r1.c_width())
print(r1.c_around())

<__main__.Rectangle object at 0x7d62ae2a20d0>
12
14

In [74]:
# 오쌤
class Rectangle2:
    def __init__(self, width=0, height=0):
        self.width = width
        self.height = height

    def area(self):
        return self.width * self.height

    def perimeter(self):
        return 2 * (self.width + self.height)

    def resize(self, new_width, new_height):
        self.width = new_width
        self.height = new_height

In [75]:
rect1 = Rectangle2(3, 4)
print(rect1)
print(f'가로 = {rect1.width}, 세로 = {rect1.height}')
# print(rect1.area())
# print(rect1.perimeter())
print(f'넓이 = {rect1.area()}, 둘레 = {rect1.perimeter()}')

<__main__.Rectangle2 object at 0x7d62c01e9ad0>
가로 = 3, 세로 = 4
넓이 = 12, 둘레 = 14

In [76]:
rect2 = Rectangle2(3, 6)
print(rect2)
print(f'가로 = {rect2.width}, 세로 = {rect2.height}')
print(f'넓이 = {rect2.area()}, 둘레 = {rect2.perimeter()}')

<__main__.Rectangle2 object at 0x7d62ae1240d0>
가로 = 3, 세로 = 6
넓이 = 18, 둘레 = 18

In [77]:
rect3 = Rectangle2()        # __init__ 메서드에서 default argument가 설정되어 있는 경우.
print(f'가로 = {rect3.width}, 세로 = {rect3.height}')

가로 = 0, 세로 = 0

In [80]:
rect4 = Rectangle2(height=10)
print(f'가로 = {rect4.width}, 세로 = {rect4.height}')

가로 = 0, 세로 = 10

In [82]:
rect4.resize(5, 12)
print(f'가로 = {rect4.width}, 세로 = {rect4.height}')
print(f'넓이 = {rect4.area()}, 둘레 = {rect4.perimeter()}')

가로 = 5, 세로 = 12
넓이 = 60, 둘레 = 34