<a href="https://colab.research.google.com/github/Sjleerodls/lab_python/blob/main/python05_for.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# for loop (반복문)

```
for 변수 in iterable-type:
    반복해서 실행할 코드 블록
```

* iterable-type : 반복(iteration)이 가능한 데이터 타입.
    * str(문자열), range, list, tuple, dict, ...
* for 반복문은 iterable-type에서 원소(아이템)들을 순서대로 하나씩 꺼내서 변수에 저장하고, 코드 블록을 실행.
* for 반복문은 iterable-type에서 더이상 꺼낼 원소가 없을 때 종료됨.

In [ ]:
for s in '안녕하세요':
    print(s)

안
녕
하
세
요

# for 반복문과 `range()` 함수

In [ ]:
# range(start, stop): start가 stop보다 작은 경우, [start, stop) 범위의 1씩 증가하는 정수들을 만들어 줌.
for x in range(1, 6):
    print(x)

1
2
3
4
5

In [ ]:
# range(stop): [0, stop) 범위의 1씩 증가하는 정수들을 만들어 줌.
for x in range(5):
    print(x)

0
1
2
3
4

In [ ]:
# range(start, stop, step): start가 stop보다 작고, step은 양의 정수인 경우,
# start <= x < stop 범위의 step만큼 증가하는 정수들을 만들어 줌.
for x in range(0, 10, 2):
    print(x)

0
2
4
6
8

In [ ]:
for x in range(1, 10, 2):
    print(x)

1
3
5
7
9

In [ ]:
# range(start, stop, step): start가 stop보다 크고 step이 음의 정수인 경우,
# start >= x > stop 범위의 step 만큼씩 감소하는 정수들을 만들어 줌.
for x in range(5, 0, -1):
    print(x)

5
4
3
2
1

In [3]:
for x in range(10, 2, -3):
    print(x)

10
7
4

for문과 range 함수를 사용해 * 개수별 출력.

In [ ]:
for x in range(1, 6):
    print('*' * x)

*
**
***
****
*****

In [ ]:
for x in range(5, 0, -1):
    print('*' * x)

*****
****
***
**
*

# `break`와 `continue`

* `break` : iteration을 종료.
* `continue` : 그 다음 iteration 과정을 수행.

In [4]:
for x in range(5):
    if x == 2:
        break
    print(x)

0
1

In [5]:
for x in range(5):
    if x == 2:
        continue
    print(x)

0
1
3
4

for-in 반복문을 사용해서 구구단 2단은 2x2까지, 3단은 3x3까지, ... , 9단은 9x9까지 출력

In [ ]:
for x in range(2, 10):
    print(f'=== {x}단 ===')
    for y in range(1, 10):
        if x < y:
            break
        print(f'{x} x {y} = {x * y}')

    print('-' * 15)

=== 2단 ===
2 x 1 = 2
2 x 2 = 4
---------------
=== 3단 ===
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
---------------
=== 4단 ===
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
---------------
=== 5단 ===
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
---------------
=== 6단 ===
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
---------------
=== 7단 ===
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
---------------
=== 8단 ===
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
---------------
=== 9단 ===
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
---------------

In [ ]:
for x in range(2, 10):
    print(f'=== {x}단 ===')
    for y in range(1, x+1):
        print(f'{x} x {y} = {x * y}')

    print('-' * 15)

=== 2단 ===
2 x 1 = 2
2 x 2 = 4
---------------
=== 3단 ===
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
---------------
=== 4단 ===
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
---------------
=== 5단 ===
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
---------------
=== 6단 ===
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
---------------
=== 7단 ===
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
---------------
=== 8단 ===
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
---------------
=== 9단 ===
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
---------------

# `print()` 함수

* 탈출 문자열(escape string)
    * '\t' : 탭 (tab)
    * '\n' : 줄바꿈 (new line)
* `print()`의 파라미터(parameter)
    * `end` : print 함수가 아규먼트들을 콘솔에 출력한 후 마지막에 어떤 문자열을 추가할 것인 지를 설정.
    기본값은 '\n' (줄바꿈).
    * `sep` : separator(구분자). print 함수의 아규먼트들을 출력할 때, 각각의 아규먼트들을 구분하기 위한 문자(열)을 설정. 기본값은 공백(space) 한 칸.

In [ ]:
print('안녕 Hello Bon Jour')
print('안녕\tHello\tBon Jour')
print('안녕\nHello\nBon Jour')

안녕 Hello Bon Jour
안녕	Hello	Bon Jour
안녕
Hello
Bon Jour

In [ ]:
print('안녕하세요', end='...')
print('Hello')
print('Bon Jour')

안녕하세요...Hello
Bon Jour

In [ ]:
print('Hello', 'Python', '파이썬')
print('Hello', 'Python', '파이썬', sep=',,')

Hello Python 파이썬
Hello,,Python,,파이썬

# 연습문제

## Ex 1. 아래와 같이 출력하는 코드를 작성하세요.

```
1 little 2 little 3 little indian
4 little 5 little 6 little indian
7 little 8 little 9 little indian
10 little indian boys!
```

In [6]:
for x in range(1, 11):
    print(x, 'little', end=' ')
    if x % 3 == 0:
        print('indian')
    elif x % 10 == 0:
        print('indian boys!', end = ' ')

1 little 2 little 3 little indian
4 little 5 little 6 little indian
7 little 8 little 9 little indian
10 little indian boys!

In [10]:
for x in range(1, 11):
    print(x, 'little', end=' ')
    if x % 3 == 0:
        print('indian')
print('indian boys!')

1 little 2 little 3 little indian
4 little 5 little 6 little indian
7 little 8 little 9 little indian
10 little indian boys!

In [13]:
# while
n = 1
while n <= 10:
    print(n, 'little', end=' ')
    if n % 3 == 0:
        print('indian')
    n += 1
print('indian boys!')

1 little 2 little 3 little indian
4 little 5 little 6 little indian
7 little 8 little 9 little indian
10 little indian boys!

In [ ]:
# answer
for n in range(1, 11):
    print(f'{n} little', end=' ')
    if n % 3 == 0:
        print('indian')
print('indian boys!')

1 little 2 little 3 little indian
4 little 5 little 6 little indian
7 little 8 little 9 little indian
10 little indian boys!

In [ ]:
# answer (2)
n = 1
while n <= 10:
    print(f'{n} little', end=' ')
    if n % 3 == 0:
        print('indian')
    n += 1
print('indian boys!')

1 little 2 little 3 little indian
4 little 5 little 6 little indian
7 little 8 little 9 little indian
10 little indian boys!

## Ex 2. 아래와 같이 출력하는 코드를 작성하세요.

```
1  2  *  4  5  *  7  8  *  10
11 12 *  14 15 *  17 18 *  20
21 22 *  24 25 *  27 28 *  *
*  *  *  *  *  *  *  *  *  40
...
81 82 *  84 85 *  87 88 *  *
*  *  *  *  *  *  *  *  *  100
```

In [ ]:
for x in range(1, 101):
    if x % 10 == 0:
        print(x)
    else:
        print(x, end=' ')

1 2 3 4 5 6 7 8 9 10
11 12 13 14 15 16 17 18 19 20
21 22 23 24 25 26 27 28 29 30
31 32 33 34 35 36 37 38 39 40
41 42 43 44 45 46 47 48 49 50
51 52 53 54 55 56 57 58 59 60
61 62 63 64 65 66 67 68 69 70
71 72 73 74 75 76 77 78 79 80
81 82 83 84 85 86 87 88 89 90
91 92 93 94 95 96 97 98 99 100

In [ ]:
for x in range(1, 101):
    if '3' in str(x) or '6' in str(x) or '9' in str(x):
        print('*', end=' ')
    elif x % 10 == 0:
        print(x)
    else:
        print(x, end=' ')

1 2 * 4 5 * 7 8 * 10
11 12 * 14 15 * 17 18 * 20
21 22 * 24 25 * 27 28 * * * * * * * * * * * 40
41 42 * 44 45 * 47 48 * 50
51 52 * 54 55 * 57 58 * * * * * * * * * * * 70
71 72 * 74 75 * 77 78 * 80
81 82 * 84 85 * 87 88 * * * * * * * * * * * 100

In [ ]:
# answer
for n in range(1, 101):
    n_1 = n % 10    # 10으로 나눈 나머지 = 숫자 n의 1의 자릿수
    n_10 = n // 10  # 10으로 나눈 몫 = 숫자 n의 10의 자릿수
    b_1 = (n_1 == 3) or (n_1 == 6) or (n_1 == 9)    # 1의 자릿수가 3또는 6또는 9이면
    b_10 = (n_10 == 3) or (n_10 == 6) or (n_10 == 9)    # 10의 자릿수가 3또는 6또는 9이면

    if b_1 and b_10:
        print('**', end='\t')
    elif b_1 or b_10:
        print('*', end='\t')
    else:
        print(n, end='\t')
    if n % 10 == 0:
        print()

1	2	*	4	5	*	7	8	*	10
11	12	*	14	15	*	17	18	*	20
21	22	*	24	25	*	27	28	*	*
*	*	**	*	*	**	*	*	**	40
41	42	*	44	45	*	47	48	*	50
51	52	*	54	55	*	57	58	*	*
*	*	**	*	*	**	*	*	**	70
71	72	*	74	75	*	77	78	*	80
81	82	*	84	85	*	87	88	*	*
*	*	**	*	*	**	*	*	**	100

In [ ]:
x = 6
x in (3, 6, 9)
# 변수(식) in (값1, 값2, 값3, ...) : 변수(식)이 값들 중에 하나이면 True, 그렇지 않으면 False.

True

In [ ]:
# answer (2)
for n in range(1, 101):
    n_1 = n % 10
    n_10 = n // 10
    if n_1 in (3, 6, 9) or n_10 in (3, 6, 9):
        print('*', end='\t')
    else:
        print(n, end='\t')

    if n % 10 == 0:
        print()

1	2	*	4	5	*	7	8	*	10
11	12	*	14	15	*	17	18	*	20
21	22	*	24	25	*	27	28	*	*
*	*	*	*	*	*	*	*	*	40
41	42	*	44	45	*	47	48	*	50
51	52	*	54	55	*	57	58	*	*
*	*	*	*	*	*	*	*	*	70
71	72	*	74	75	*	77	78	*	80
81	82	*	84	85	*	87	88	*	*
*	*	*	*	*	*	*	*	*	100

In [ ]:
'H' in 'hello'

False

In [ ]:
# answer (3)
for n in range(1, 101):
    n_str = str(n)  # 정수 n을 문자열로 변환
    if ('3' in n_str) or ('6' in n_str) or ('9' in n_str):
        print('*', end='\t')
    else:
        print(n, end='\t')
    if n % 10 == 0:
        print()

1	2	*	4	5	*	7	8	*	10
11	12	*	14	15	*	17	18	*	20
21	22	*	24	25	*	27	28	*	*
*	*	*	*	*	*	*	*	*	40
41	42	*	44	45	*	47	48	*	50
51	52	*	54	55	*	57	58	*	*
*	*	*	*	*	*	*	*	*	70
71	72	*	74	75	*	77	78	*	80
81	82	*	84	85	*	87	88	*	*
*	*	*	*	*	*	*	*	*	100