<a href="https://colab.research.google.com/github/Sjleerodls/lab_python/blob/main/python05_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# for loop (반복문)

```
for 변수 in iterable-type:
    반복해서 실행할 코드 블록
```

* iterable-type : 반복(iteration)이 가능한 데이터 타입.
    * str(문자열), range, list, tuple, dict, ...
* for 반복문은 iterable-type에서 원소(아이템)들을 순서대로 하나씩 꺼내서 변수에 저장하고, 코드 블록을 실행.
* for 반복문은 iterable-type에서 더이상 꺼낼 원소가 없을 때 종료됨.

In [2]:
for s in '안녕하세요':
    print(s)

안
녕
하
세
요

# for 반복문과 `range()` 함수

In [6]:
# range(start, stop): start가 stop보다 작은 경우, [start, stop) 범위의 1씩 증가하는 정수들을 만들어 줌.
for x in range(1, 6):
    print(x)

1
2
3
4
5

In [8]:
# range(stop): [0, stop) 범위의 1씩 증가하는 정수들을 만들어 줌.
for x in range(5):
    print(x)

0
1
2
3
4

In [12]:
# range(start, stop, step): start가 stop보다 작고, step은 양의 정수인 경우,
# start <= x < stop 범위의 step만큼 증가하는 정수들을 만들어 줌.
for x in range(0, 10, 2):
    print(x)

0
2
4
6
8

In [14]:
for x in range(1, 10, 2):
    print(x)

1
3
5
7
9

In [20]:
# range(start, stop, step): start가 stop보다 크고 step이 음의 정수인 경우,
# start >= x > stop 범위의 step 만큼씩 감소하는 정수들을 만들어 줌.
for x in range(5, 0, -1):
    print(x)

5
4
3
2
1

for문과 range 함수를 사용해 * 개수별 출력.

In [23]:
for x in range(1, 6):
    print('*' * x)

*
**
***
****
*****

In [22]:
for x in range(5, 0, -1):
    print('*' * x)

*****
****
***
**
*

# `break`와 `continue`

* `break` : iteration을 종료.
* `continue` : 그 다음 iteration 과정을 수행.

In [24]:
for x in range(5):
    if x == 2:
        break
    print(x)

0
1

In [25]:
for x in range(5):
    if x == 2:
        continue
    print(x)

0
1
3
4

for-in 반복문을 사용해서 구구단 2단은 2x2까지, 3단은 3x3까지, ... , 9단은 9x9까지 출력

In [30]:
for x in range(2, 10):
    print(f'=== {x}단 ===')
    for y in range(1, 10):
        if x < y:
            break
        print(f'{x} x {y} = {x * y}')

=== 2단 ===
2 x 1 = 2
2 x 2 = 4
=== 3단 ===
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
=== 4단 ===
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
=== 5단 ===
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
=== 6단 ===
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
=== 7단 ===
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
=== 8단 ===
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
=== 9단 ===
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [33]:
for x in range(2, 10):
    print(f'=== {x}단 ===')
    for y in range(1, x+1):
        print(f'{x} x {y} = {x * y}')

=== 2단 ===
2 x 1 = 2
2 x 2 = 4
=== 3단 ===
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
=== 4단 ===
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
=== 5단 ===
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
=== 6단 ===
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
=== 7단 ===
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
=== 8단 ===
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
=== 9단 ===
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81